[2020-10-09 14:06] alexcjohnson commented on #5202
Agreed - as long as we honor explicit width & height provided with the download config, I'd be happy to set the default to match the displayed plot, no need to consider that a breaking change.

[2020-10-09 14:37] kebabhans commented on #3297
I experience the same issue in Chrome, Edge (Chromium), but not in Internet Explorer.
Is there a potential work-around for this (such that I can both drag nodes around, but also trigger a function on clicks)?

[2020-10-09 20:50] #5129 closed

[2020-10-09 20:50] #5176 closed

[2020-10-10 00:39] archmoj opened #5207 "period label positions off with weekly dtick and monthly tickformat"
[Bug demo](https://codepen.io/MojtabaSamimi/pen/oNLgVZY?editors=0010)

[2020-10-10 12:53] thierryVergult commented on #5199
I think I'm getting somewhere.

The color of the root is harcoded to rgba(0, 0, 0, 0) in ../sunburst/calc.js

`else {
                // root gets no coloring by default
                cdi.color = 'rgba(0,0,0,0.)';
            }`

And ../treemap/style.js is forcing further styling

`if(isRoot && fillColor === 'rgba(0,0,0,0)') {
            opacity = 0;
            lineColor = 'rgba(0,0,0,0)';

[2020-10-10 16:09] sleighsoft commented on #2627
+1 for this feature

[2020-10-10 16:25] nicolaskruchten commented on #5199
I'm not sure I understand what you're aiming to do with this PR... could you elaborate please? If you set the margins to 0, the pathbar will definitely be out of view, but this is pretty much the intended behaviour.

[2020-10-10 16:29] nicolaskruchten commented on #4345
Geo maps now accept a `geojson` attribute, so users can specify their own world map.

[2020-10-10 16:29] #4345 closed

[2020-10-10 16:31] nicolaskruchten commented on #5202
The download-size issue is essentially https://github.com/plotly/plotly.js/issues/1576, so I'll close this for now.

[2020-10-10 16:31] #5202 closed

[2020-10-11 13:21] alexcjohnson commented on #5200
Thanks for the report @LoganWlv - this is indeed a bug, the problem is that the range of a category axis is normally expressed in units of the category serial numbers, and as you have 8 categories (0 to 7) and you want to see the whole of each bar (±0.5) the autorange value is [-0.5, 7.5].

The bug is that apparently when we then re-interpret that range to draw the graph, because you have a catego

[2020-10-11 23:07] alexcjohnson commented on #5194
@s1dsq that's currently the expected behavior - notice for example that your x axis shows the same thing on both sides, data points beyond the extremal ticks. If we were to implement configurable padding on the autorange (see eg #1876) then you could change the current 5% padding to something like 20%, which would ensure there's always room for another tick.

(You're probably aware of this at leas

[2020-10-12 12:12] LoganWlv commented on #5200
@alexcjohnson  Thanks for the details.

So you confirm that it should be fixed ?
If yes, do you think you could tell in which file to search for this logic so I may be able to do the fix ?

[2020-10-12 13:54] alexcjohnson commented on #5200
The issue is in converting from "range values" to "calcdata" or "linearized" values, ie the functions `ax.r2c` or `ax.r2l` here:

https://github.com/plotly/plotly.js/blob/8b76d46c058dedea34bd693daf962e4b8f1135eb/src/plots/cartesian/set_convert.js#L318-L324

both of which call out to `getCategoryPosition`:

https://github.com/plotly/plotly.js/blob/8b76d46c058dedea34bd693daf962e4b8f1135eb/src/plots/

[2020-10-12 14:30] LoganWlv commented on #5200
Thanks a lot. I'll try to make the fix

[2020-10-12 15:23] thierryVergult commented on #5199
Maybe the png file at the link explains it better? [screenshots before and after, with & without drilldown (pathBar at the bottom)](https://drive.google.com/file/d/1jG4iclOm2fzh0tMrSVDeo7OzEZN083RE/view?usp=sharing)

You can rephrase it like : what is the color in the middle of a donut chart ? (Same for sunburst with a labeled root)

My proposal is to make the root color configurable. (now hard co

[2020-10-13 03:55] myaleks commented on #3420
hi joshrabinowitz
could you please elaborate how do you do this (scaling/resizing line widths and font sizes dynamically as the viewport resized)

[2020-10-13 14:06] LoganWlv commented on #5200
@alexcjohnson I created a PR.
As you said I did add a unit test to check the computed range + one image test, it is working.

Though in local when running jasmine tests it breaks on multiple tests (with and without the fix). So I am wondering if there is something wrong in my local configuration and if I could mimic a circleCI test pipeline with docker.

_Some tests which are broken in local (with

[2020-10-13 14:56] alexcjohnson commented on #5200
Great, I'll take a look at your PR!

Don't worry about the local test failures - some of those interaction tests are tricky to get working right, and the `@flaky` ones sometimes fail anyway.

[2020-10-13 19:59] alexcjohnson commented on #5200
Closed by @LoganWlv in #5211

[2020-10-14 02:57] xxiro commented on #2744
Thanks! This is by far the fastest work-around I've tried. For python, here's a module that hash strings into hex color code directly:

https://pypi.org/project/colorhash/

[2020-10-14 17:29] michaelfBoxer commented on #4294
Anyone have any pointers for how to implement a multihover to this?

[2020-10-14 18:33] #5185 closed

[2020-10-14 18:38] archmoj opened #5213 "automargin sometimes not recording the sizes"
Overall this looks good, but I'm seeing some odd behaviour with a figure like this one: https://codepen.io/nicolaskruchten/pen/wvWBmyQ

here the long x label is causing some automargin edge case: the right margin is increased because of the slanted label, but the bottom margin would exceed the cutoff so it resets. This is a known problem with automargins, and we don't need to tackle it now BUT the

[2020-10-14 18:40] archmoj commented on #5213
Also see [this minimal codepen](https://codepen.io/MojtabaSamimi/pen/XWKJBJv?editors=0010).

[2020-10-15 11:30] warren-oneill commented on #3244
Hi @Bjodol and @alexcjohnson, I just sent in a request to sponsor this issue getting done here https://plotly.com/get-pricing/.
I have a similar issue with intermittent timeseries data. As you can see in the plot below I'm getting a lot of zeros in the hover that I don't want to see.
![Uploading Screenshot 2020-10-15 at 13.29.35.png…]()

[2020-10-15 11:34] warren-oneill commented on #3244
However, I was able to remove all the zeroes from the plot by setting `mode='none'`. It's only the issues with the hover I am having.

[2020-10-15 12:17] essafik commented on #1244
Maybe I am missing something and I would like to understand where the difficulty resides. Can someone explain to me why implementing this feature is particularly difficult? From my perspective, it is simply a pi/2 rotation of the colorbar with a repositioning. So far, when I really need to have the colorbar horizontal, I just export my graph in svg and do the manipulation manually in Inkscape. It'

[2020-10-15 16:52] #1576 closed

[2020-10-15 19:19] nicolaskruchten commented on #5124
See also https://github.com/plotly/plotly.js/issues/1227

[2020-10-15 20:19] #5207 closed

[2020-10-15 22:28] archmoj commented on #5182
@mtgraves and @matthiaskoenig
FYI - plotly.js v1.57.0 is just out: https://github.com/plotly/plotly.js/releases/tag/v1.57.0
Would you mind testing if upgrading could help solve the recent `webpack` build issue?
Thank you!

[2020-10-15 23:26] matthiaskoenig commented on #5182
@archmoj I just tested this with plotly.js v1.57.0 and everything works for me. Don't have to pin any dependencies.
Best M

[2020-10-15 23:37] archmoj commented on #5182
Thanks @matthiaskoenig for testing this out.

[2020-10-16 08:16] yankeeguyu opened #5214 "tickformat don't work for Reactjs"
When i set tickformat to y axis layout, it is only valid for the y-axis scale, but the y-axis data  still maintains the original value and will not change with tickformat. Like this:
![image](https://user-images.githubusercontent.com/46274612/96233369-d073ea00-0fca-11eb-91b5-d62449d6c75a.png)

So how to fix this problem? Thank you very much!

[2020-10-16 08:34] archmoj commented on #5214
Have you tried using texttemplate?

[2020-10-16 08:38] yankeeguyu commented on #5214
Hi @archmoj , i tried texttemplate, but it also didn't work for me!

[2020-10-16 08:40] archmoj commented on #5214
Could you please share a minimal data and layout  of your figure?

[2020-10-16 08:51] yankeeguyu commented on #5214
x: [2020-10-01, ...., 2020-10-15]
y: [0.11, ... 0.20]

xaxis layout is %Y-%m-%d, yaxis layout is .3%

[2020-10-16 12:30] Ps7Pep opened #5215 "range"
Thanks for your interest in plotly.js!

Before opening an issue, please search for existing and closed issues. If your problem or idea is not addressed yet, [please open a new issue](https://github.com/plotly/plotly.js/issues/new).

Bug reports **must** be accompanied with a reproducible example. We recommend using [codepen](http://codepen.io/), [jsfiddle](https://jsfiddle.net/) or [jsbin](https:/

[2020-10-16 12:40] chrysillala commented on #5066
Hi, I would like to work on this issue. Could you please assign and guide me? Thanks!

[2020-10-16 13:16] #5215 closed

[2020-10-16 13:36] nicolaskruchten commented on #5066
Hi @chrysillala, that would be great!

@antoinerg are there any quick pointers to where the hovertemplate stuff lives?

[2020-10-16 13:46] archmoj commented on #5214
Like this [demo](https://codepen.io/MojtabaSamimi/pen/NWrNpKy?editors=0010)?

[2020-10-16 16:21] alexcjohnson commented on #5214
Also [hoverformat](https://plotly.com/javascript/reference/layout/yaxis/#layout-yaxis-hoverformat)

[2020-10-16 16:36] antoinerg commented on #5066
Basically, when `hovertemplate` contains a variable without any formatting, the hover module (in `src/components/fx/hover.js`) will look for a default formatting. For variable `x`, it will look for a formatted value in a key named `xLabel`. Therefore, the fix for the current issue is to simply add a key named `baseLabel` with the appropriately formatted value for `base`. This should be done in the

[2020-10-17 00:43] #5066 closed

[2020-10-17 03:39] JMante1 commented on #3742
I had a look at it but couldn't get it to work. The same solution doesn't work as I proposed above. I think that is because for the bar you have text append whereas for sankey it is just node label. I can get something that looks somewhat right if you change 1047 in render.js in sankey as shown below. However, this only fixes the display of links and not breaks, additionally links do not appear to

[2020-10-17 05:04] yankeeguyu commented on #5214
Yep, in codepen it works, but in reactjs don't work!

[2020-10-17 09:17] chrysillala commented on #5066
@antoinerg thanks for the update!

[2020-10-17 10:03] LTribelhorn commented on #3905
@paulhager Did you find a workaround for this in the meantime?
Or has there been any progess on this feature?

[2020-10-17 22:50] anaplian commented on #5161
I've had a go at this in #5217
Let me know if that's OK :smile:

Happy Hacktoberfest! :jack_o_lantern:

[2020-10-19 08:36] paulhager commented on #3905
I ended up  completely disabling hovering for 3D mesh.

Code change made is in plotly.js, v1.43.0, insert a new line 42559:

if(obj.constructor.name === 'SimplicialMesh')
{continue}

[2020-10-19 08:48] azawalich commented on #888
Another workaround solution for this problem is to change main charting library from Plotly to [mpld3](https://mpld3.github.io/index.html). Of course, is not ideal and depends highly on your use case, but solves the initial problem ;). You can find more info on the issue, as well as some example code [in my repository](https://github.com/azawalich/dash-graphs-css-transform).

[2020-10-19 09:04] LTribelhorn commented on #3905
I found a workaround yesterday:
By duplicating the axes (without ticklabels & title, overlaying the real axes) and assigning these axes to one group of traces (eg. the 3D mesh) the spikelines can then be disabled as usual in the axis attributes.

But although this works in my case there could obviously be drawbacks in other cases. So having this as a feature would still be appreciated

[2020-10-19 10:48] naresh-FD opened #5218 "getting error as rgba is not a function"
Am using the latest version of react-plotly and also plotly.  [#208](https://github.com/plotly/react-plotly.js/issues/208)

![image](https://user-images.githubusercontent.com/50324374/96441128-9e5ec400-1226-11eb-96dc-adad2b06cd27.png)

Thanks for your interest in plotly.js!

Before opening an issue, please search for existing and closed issues. If your problem or idea is not addressed yet, [please

[2020-10-19 13:21] Phil-DS opened #5219 "Disable Rotation Drag on Polar when dragmode = false"
When I set dragmode to false, I'm expecting all drag events to be halted. On polar, the zoom event was halted, but you are still able to click and drag the outer edge of the polar chart, and rotate the chart, which is seemingly impossible to disable without going deep into the halting of events, or making it a static chart (Which means that you lose any sort of interactivity that is enabled by Plo

[2020-10-19 13:44] nicolaskruchten commented on #4294
This issue has been tagged with `NEEDS SPON$OR`

A [community PR](https://github.com/plotly/plotly.js/pulls?q=is%3Apr+is%3Aopen+label%3A%22type%3A+community%22) for this feature would certainly be welcome, but our experience is deeper features like this are difficult to complete without the Plotly maintainers leading the effort.

**Sponsorship range: $15k-$25k**

What Sponsorship includes:
- Compl

[2020-10-19 14:54] archmoj commented on #5218
@naresh-FD thanks very much for the report.
Which version of `plotly.js` are you using?

[2020-10-19 15:22] naresh-FD commented on #5218
Plotly :- 1.49.4
React-plotly:- 2.30.0
React:- 16.13.0

[2020-10-19 15:32] archmoj commented on #5218
We expect this to be solved by https://github.com/plotly/plotly.js/pull/5189.
Could you try upgrading `plotly.js` to `v1.57.0`?
Thanks!

[2020-10-19 18:58] hbaniecki commented on #5064
This seems important

[2020-10-19 21:40] #5161 closed

[2020-10-19 21:45] alexcjohnson commented on #3742
FYI we cannot use `.html` - this presents a security risk in some contexts, notably Chart Studio. One way or another it needs to go through `svgTextUtils.convertToTspans`.

[2020-10-20 03:47] yankeeguyu commented on #5214
I fixed it, thank you!

[2020-10-20 03:47] #5214 closed

[2020-10-20 10:03] DanRos22 commented on #2627
+1 for this feature

[2020-10-20 12:45] archmoj opened #5222 "webgl error in Create React App"
https://community.plotly.com/t/webgl-is-not-supported-by-your-browser-for-3d-scatter/43415/6

[2020-10-20 20:59] #5213 closed

[2020-10-21 01:01] archmoj commented on #5218
This should be addressed in v1.57.0 or v1.57.1.

[2020-10-21 01:01] #5218 closed

[2020-10-21 02:35] zyzhu commented on #4459
Bump. Met the same problem with v1.57.0 on basic bar chart. Labels on x axis disappear on resize events. Filed an issue here https://github.com/plotly/angular-plotly.js/issues/136. But it's actually related to plotly.js directly.

Note that if I change plotly.js version to 1.54.0 and earlier, this problem disappeared.

[2020-10-21 06:03] skout90 opened #5227 "plotly_click don't be triggered, in mobile, dragmode select"
Hello.

plotly_click don't be triggered, in mobile, dragmode select.
in dragmode default, plotly_click works well.
https://codepen.io/skout90/pen/jOrMeZR

Please check log, mobile emulator in chrome dev tools, and you must **REFRESH**

[2020-10-21 12:14] nicolaskruchten opened #5228 "Topojson input to geojson attribute"
For choropleth and mapboxchoropleth.

[2020-10-21 12:28] xanderwallace85 commented on #15
Hi @jaspersardonicus ! Which module did you use for the Choropleth map? in the ff dragMode the throws an error when placed in the layout :(

[2020-10-21 12:31] xanderwallace85 opened #5229 "dragMode for px.choropleth Maps"
Hi there!

Do you know if it's possible to disable the drag/pan mode in the choropleth maps (from plotly.express)? I am able to disable the zoom from the config settings but I cannot manage to disable the dragging. Not even via `fig.update_xaxes(fixedrange=True)` :(

[2020-10-21 12:39] jaspersardonicus commented on #15
@xanderwallace85 I used `from plotly import graph_objects as go` and constructed the map with `fig = go.Choropleth()`

[2020-10-21 12:44] nicolaskruchten commented on #4459
@archmoj can you dig into this one a bit please?

[2020-10-21 12:45] xanderwallace85 commented on #15
@jaspersardonicus Thanks! Have you also tried to disable pan/drag with plotly.express?

[2020-10-21 13:57] archmoj commented on #4459
Sure. Look like a automargin bug to me. But let me investigate...

[2020-10-21 14:53] jaspersardonicus commented on #15
Not yet. I haven't even used plotly.express yet, sorry!

[2020-10-22 10:50] LoganWlv commented on #4812
@nicolaskruchten this one relates to https://github.com/plotly/plotly.js/issues/5200 which is fixed

[2020-10-22 12:07] nicolaskruchten commented on #4812
Indeed, your fix in https://github.com/plotly/plotly.js/pull/5211 seems to have resolved this one, thank you :)

[2020-10-22 12:07] #4812 closed

[2020-10-22 18:57] archmoj commented on #888
https://github.com/plotly/plotly.js/pull/5193 with some adjustments is getting close to address this issue.

[2020-10-23 02:46] ys4503 opened #5231 "Traces with multiple y-axes not showing with animate method"
Issue can be reproduced in this [example](https://jsfiddle.net/pxzwnh3o/).

Only the traces included in the frames are showing when you have multiple y-axes. If you hover over, you can still see the info on all the lines. The lines will show when zooming/resetting the plot at any frame.

If you plot all traces in the same axes (comment line#12 in above example), the lines not in the frames will be

[2020-10-24 20:12] MiltonCobo commented on #4563
Is there any advance on this bug? I would like to load Mathjax v3 in my project, but unfortunately it does work with plotly at the moment. Plotly is using the old Mathjax.Hub object.

Thanks!

[2020-10-25 09:32] thierryVergult commented on #883
I could add some space between the horizontal bar and the label of the category via some css, but also was trying to have left alignment, without success so far.

[code]

[2020-10-26 07:26] StefanKoenigMUC opened #5234 "Gridtype 'surface', Tickmode 'array' - Setting Tick Interval to a custom value"
Hi all,

I've got  a brief question, I was not able to figure out so far.
[code]

Is there any way, to paint only every n-th tick to the Axis? As is still have to make use of the hover information, simply having empty "tick texts" is not a solution (as the hovers value are emptied as well).

I already tried nticks and tick density, but none of them had any effect to the plotted chart.

Thanks in a

[2020-10-26 08:58] #4943 closed

[2020-10-26 12:33] archmoj commented on #5234
Here is a [codepen](https://codepen.io/MojtabaSamimi/pen/GRqWOWQ?editors=0010).
@StefanKoenigMUC Could you please explain what is missing there?
Also for questions like this we highly suggest our users to post to https://community.plotly.com/c/api/plotly-js/6 so that others could help and we could keep the issues for bug reports, feature & pull requests.
Thanks.

[2020-10-26 13:24] archmoj commented on #5159
I think all you need to wrap those after plot steps in a `then`.
Please see [codepen](https://codepen.io/MojtabaSamimi/pen/XWKMVee?editors=0010).

[2020-10-26 13:24] #5159 closed

[2020-10-26 13:25] #4577 closed

[2020-10-26 14:41] alexcjohnson commented on #883
One way to achieve left alignment would be `anchor: 'free', side: 'right'` and then move the labels off the edge of the plot area with something like `position: -0.1` or shrinking the domain of the x axis to something like `[0.1, 1]`. There wouldn't be any automatic sizing this way, you'd need to manually choose the offset that leaves the right amount of space for the labels.

[2020-10-26 18:22] archmoj commented on #5167
Have you seen
https://stackoverflow.com/questions/32126003/node-js-document-is-not-defined
or
https://plotly.com/nodejs/getting-started/
?

[2020-10-26 18:43] archmoj commented on #5197
It seems to work.
Here is a [codepen](https://codepen.io/MojtabaSamimi/pen/xxOqyde?editors=0010).

[2020-10-26 18:45] archmoj commented on #5222
Addressed in #5233.

[2020-10-26 18:59] alexcjohnson commented on #5197
@archmoj I wouldn't call it a bug, but there may be room to improve the behavior here. The issue is that all the data values are identical, so we don't have a clear idea what range to give the data; so we just use that one value ±1. In this case that one value is very close to zero, so it looks like the range is just -1 to 1 with all the data at 0.

You can get something useful out of this data if

[2020-10-26 19:18] archmoj commented on #5188
@pfebrer96 thanks for the offer to submit a PR.
Do you think that using `css` transform could help in this regard?
Here is a [demo](https://codepen.io/MojtabaSamimi/pen/gOMmBXL?editors=0100) that may be of interest.
If that is the case, one could attempt fix the hover positions when `rotation` is present https://github.com/plotly/plotly.js/pull/5193 is merged.

[2020-10-26 19:41] archmoj commented on #5146
It does not look like a regression or bug to me.

[2020-10-26 19:47] archmoj commented on #5148
You could start by changing the `valType` of `relative` attribute from `boolean` to `enumerated`.
And provide the third option something like:
[code]

[2020-10-26 20:35] archmoj commented on #4459
Bug confirmed on Windows and iOS.

[2020-10-26 21:42] alexcjohnson commented on #5146
@archmoj I think everything looks fine except the KDE hover label and effect. Here's what hover looks like on this plot with no range slider:
<img width="288" alt="Screen Shot 2020-10-26 at 5 35 16 PM" src="https://user-images.githubusercontent.com/2678795/97231370-c06dbe80-17b1-11eb-984b-e15d72349d45.png">
But even without zooming, when you include a range slider the mouse-following crossbar disa

[2020-10-26 22:10] pfebrer96 commented on #5188
Thanks for the answer!

The `css` approach is interesting. Unfortunately, I believe it is quite complicated to achieve what I want, because:
- I want to apply the transform only to the heatmap, the axes still need to be in the horizontal and vertical directions.
- If I target only `.heatmaplayer`, the rest of the plot needs to be resized accordingly. The axes labels need also to be recalculated ac

[2020-10-26 22:49] handeer commented on #5222
sorry, bug yet not resolve

[2020-10-27 00:16] zbjornson opened #5235 "SVG NaN errors when shapes and bgcolor are specified"
https://jsfiddle.net/hnqe98uv/

This example generates a handful of errors like `Unexpected value NaN parsing x attribute` because some of the background attributes (`_offset`, `_length`) are not set. This only occurs with `paper_bgcolor`.

[2020-10-27 10:07] StefanKoenigMUC commented on #5234
thanks a lot, will do this in the future!

in your example, I want to reduce the "density" of the x-axis ticks:

e.g. for the s-axis i want only to show "100, 300, 500", all other coordinates should be available within the hover field, but should not be labeled on the axis.

[2020-10-27 13:31] archmoj commented on #5222
@handeer could you tell us which error you would get in the console when using
[code]

[2020-10-27 17:03] archmoj commented on #5235
Strangely enough, if one hides `heatmap` `colorbar` using `showscale: false`, the error goes away!

[2020-10-27 17:05] archmoj commented on #5235
Here is [a minimal codepen](https://codepen.io/MojtabaSamimi/pen/XWKRLob?editors=0010).

[2020-10-27 19:51] archmoj commented on #5235
This is in fact a regression since [v1.43.0](https://github.com/plotly/plotly.js/releases/tag/v1.43.0).

[2020-10-27 20:08] archmoj commented on #5235
Side effect of #3510.

[2020-10-27 21:04] alexcjohnson commented on #5222
@handeer note the issue closed when the PR that fixed it was merged, but this fix hasn't yet been released in a published version.

[2020-10-27 22:22] handeer commented on #5222
yes, i got it.
import Plotly from "plotly.js/lib/index";   error
import Plotly from "plotly.js/dist/plotly";   ok

[2020-10-28 03:36] ajundi commented on #4074
Hi Luke,
Would it be possible to add this to plotly or post the source code in your repo so I can use it? I don't know how to create something like this. Thanks :)

[2020-10-28 04:11] Carl-Analytix commented on #1116
This should be done in my opinion. I dont like using figurefactory for subplotting heatmaps.  It is a pain extracting all the data out and making sure you have everything to be placed in the new subplot correctly. The same goes for annotations when doing a go.Heatmap.  This utility would be great, especially if you could adjust the size, family, and color of the text.  Maybe an annotation kwarg wo

[2020-10-28 10:05] jensb commented on #4074
This looks beautiful. I'd give it +j\infinity stars to be included.

[2020-10-28 11:08] COLLINETTEBastien opened #5238 "Color gradient for bars in Bar Charts"
Hello !

I am currently working with Bar Charts and I noticed that Plotly JS doesn't support the possibility to have bars with a color gradient effect.
It could be manipulated by having a start color (that would be the current color parameter) and an end color (optional, default would be current color, equivalent to no color gradient).
If the end color is defined, the gradient could be adjusted wi

[2020-10-28 13:01] archmoj commented on #5238
Something similar to
https://rreusser.github.io/plotly-mock-viewer/#bar-colorscale-colorbar
or
https://rreusser.github.io/plotly-mock-viewer/#bar-marker-line-colorscales
?

[2020-10-28 13:40] #5235 closed

[2020-10-28 13:49] COLLINETTEBastien commented on #5238
I was thinking about something like what we can do with LaTeX bar charts
https://tex.stackexchange.com/questions/455333/latex-horizontal-bar-chart-gradient-color-for-bars
or with ChartJS :
https://stackoverflow.com/questions/60679709/chart-js-add-gradient-to-bar-chart
I hope to be clear enough.

[2020-10-28 14:04] #5032 closed

[2020-10-28 14:08] warren-oneill commented on #3244
I ended up getting around the issues by using a stacked bar plot with no gaps or borders.
[code]

[2020-10-28 14:25] zbjornson commented on #5235
Thank you for the fast fix!

[2020-10-28 14:31] archmoj commented on #5235
Thanks for your report.
Please note that the official fix won't be available until next patch/minor release.

[2020-10-28 14:47] lstuemke commented on #4074
This totally fell off my radar @jensb. Let me get back in touch with @Gloamglozer and see where we're at.

[2020-10-28 15:00] archmoj commented on #5141
@emmanuelle wondering if this issue is resolved?

[2020-10-28 20:33] jdpaterson commented on #4550
I would like to get this fixed. I think the commit where this stopped working is this one: https://github.com/plotly/plotly.js/commit/7221cd009ca9cb2eec02e1e4e602c03e9e07b1ef

In camera.js if I change the 3 lines that say:
`supportsPassive ? {passive: false} : false`
to be
`supportsPassive ? {passive: true} : false`
then it works again.

[2020-10-28 20:35] archmoj commented on #4550
@jdpaterson Would you interested to submit a PR?

[2020-10-28 20:41] jdpaterson commented on #4550
@archmoj I am would like to, but the file I mentioned above, "plots/gl3d/camera.js" doesn't exist anymore, it seems the logic has been moved elsewhere. Do we know where that logic might have been moved to? I'll keep looking

[2020-10-28 20:44] archmoj commented on #4550
It is in `gl-plot3d` dependency: https://github.com/gl-vis/gl-plot3d/blob/master/camera.js

[2020-10-28 20:56] jdpaterson commented on #4550
Ok I'll make a PR there.

[2020-10-29 00:01] NadiaP7406 commented on #3918
I'm working with Plotly in Dash and this worked for me: figure = px.choropleth(df, locations="Alpha3",
                    color="nat_logo").update_traces(marker_line_color='#000000')

[2020-10-29 14:03] tsloan1377 commented on #4021
I needed to recreate a swarm plot in Plotly graph_objects for a project, effectively using a boxplot with invisible boxes was the way to go.

Posting the code here in case someone follows my same steps to this thread:

[code]
![newplot (6)](https://user-images.githubusercontent.com/26436062/97583973-e1126000-19cd-11eb-8db1-c12d0d9dae63.png)

[2020-10-29 15:03] archmoj commented on #5234
@StefanKoenigMUC thanks for posting your question in the community website.
The title you choose there is also more clear.
BTW wondering why setting `dtick` does not work you?
Here is a [codepen](https://codepen.io/MojtabaSamimi/pen/pobamrq?editors=0010) I tried it out and it seem to work.
Could you please elaborate what is missing there?

[2020-10-30 01:55] Lvulis commented on #4530
This issue was opened previously to address ggplotly converting dashed lines to solid lines: https://github.com/plotly/plotly.js/issues/4045

[2020-10-30 12:20] nicolaskruchten commented on #4021
Thanks Tyler! This is in effect what `px.strip()` does: https://plotly.com/python/strip-charts/

[2020-10-30 16:01] KaleabTessera commented on #2573
+1

[2020-10-30 16:15] KaleabTessera commented on #3949
+1

[2020-10-30 17:24] alexandergerber opened #5241 "Enable filtering for gradient color legend"
It would be nice if one could use the gardient color legend for filtering as depicted here:

![filter_legend1](https://user-images.githubusercontent.com/19466818/97737236-09d54b00-1add-11eb-8b5a-a50bf1c4978a.gif)

[2020-10-30 17:42] #5241 closed, assigned to nobody

[2020-11-01 13:11] Braintelligence commented on #2160
I also stumbled over this today. The workaround seems to be to really go with a second axis. It would be awesome if this could be added.

[2020-11-01 20:03] xuke444 commented on #3518
Looks like plotly needs to upgrade d3 to at least v4

[2020-11-02 02:56] #4550 closed

[2020-11-02 13:37] archmoj commented on #4987
@seansfkelley thanks for the report.
Here is a [codepen illustrating the bug](https://codepen.io/MojtabaSamimi/pen/jOrxeya?editors=0010).
BTW if you pass an empty array i.e. [ ] instead of [ null ], there is no error.

[2020-11-02 13:45] archmoj commented on #4835
This could be fixed/improved by #5237.
Here is a [demo](https://codepen.io/MojtabaSamimi/pen/RwRyeZr?editors=0010).

[2020-11-02 15:15] StefanKoenigMUC commented on #5234
i changed your codepen accordingly to my situation:

https://codepen.io/stefankoenigmuc/pen/WNxJLQN?editors=0010

I want the y-axis to just show every second ticket at the axis, but on the hover text every tick should be shown

[2020-11-02 18:17] seansfkelley commented on #4987
Good to know, though I think the reason I use `[null]` for my Plotly empty states is that it tends to render something different or visually inconsistent/broken when switching from an empty array to one with data. (I can't remember exactly -- I haven't worked on this code in some time.) Using a non-empty array with no actual data in it works around this issue, however.

[2020-11-03 11:38] nantunes commented on #4856
Is this repository watched? Is there a better place to open Plotly issues? It's been more than 5 months...

[2020-11-03 14:03] alexcjohnson commented on #4856
Yes, we're watching, just haven't had a chance to look into this issue yet. Sounds like we may need to copy some of this internal state from the old context when there is one. The challenging part will be figuring out what tests to write to ensure this behaves correctly in all relevant cases, but @nantunes if you'd like to speed this along by opening a PR we can certainly help with that part!

[2020-11-03 16:38] nicolaskruchten opened #5242 "Treemap forced root node"
Semi-related to https://github.com/plotly/plotly.js/issues/5199 ... one difference between sunburst and treemap is that treemap always has a root node even if you don't want it. It would be nice for this to be optional.

[2020-11-03 16:53] silviubogan opened #5243 "ReferenceError: document is not defined"
This dependency makes it impossible to use plotly.js in the browser because image-size uses fs module which is not available in browsers. I do not know how does react-plotly.js adapt to this dependency but I guess they have this issue too.

Related to: https://github.com/plotly/plotly.js/pull/5119.

# Reproducible example
1. Create an app with `create-react-app`.
2. Install dependencies from the s

[2020-11-03 16:56] silviubogan commented on #5243
Sorry, I think it is a configuration problem on my side. It seems to work with create-react-app. I am closing this because of this.

[2020-11-03 19:07] ys4503 opened #5244 "Overwriting plots with Plotly.react causes refiring of click events"
Issue can be reproduced in this [example](https://jsfiddle.net/ucvtbd54/).

Every time you replot with the button, the click event will refire as many times you replot.

Apologies if this not an intended use of Plotly.react. The documentation says:

[2020-11-03 23:32] kurtlawrence commented on #4943
Thanks @mddr, I ran into this issue the other day as well and your problem-solving saved me heaps of time. It seems hit-and-miss whether it blocks the content or not, but turning _off_ the blocker does seem to fix it.

[2020-11-04 15:44] archmoj opened #5246 "option to control margin.minfinal(width|height)"
I like that idea - `layout.margin.minfinal(width|height)` perhaps, with a default of something like 100 (px).

_Originally posted by @alexcjohnson in https://github.com/plotly/plotly.js/pull/5237#discussion_r513588895_

[2020-11-04 16:38] archmoj commented on #5246
By exposing these two constants:
https://github.com/plotly/plotly.js/blob/96d75110706d255ead829ba1d0ba18e8e5a0b67e/src/plots/plots.js#L1867-L1868

[2020-11-04 17:28] Charlesfox1 commented on #4330
Hey @nicolaskruchten - did this get built in / included? Raster support would be fantastic.

[2020-11-04 17:50] MrCull opened #5247 "The README file in this repo has a bad link - [404:NotFound]"
The README file in this repo has a bad link - [404:NotFound]

"how changes get made to Plotly.js"
Status code [404:NotFound] - Link: https://github.com/plotly/plotly.js/blob/masterCONTRIBUTING.md

Missing the "/" near the end.
It should be: https://github.com/plotly/plotly.js/blob/master/CONTRIBUTING.md

This was found by an new experimental hobby project that I have just created: https://github.c

[2020-11-04 18:03] archmoj opened #5248 "period ticklabelmode for gl3d date axes"

[2020-11-04 18:05] archmoj opened #5249 "support dates and category on colorbars"

[2020-11-04 18:52] archmoj opened #5250 "unable to detect date/category types of 2d array in a surface plot"
See console error in [this codepen](https://codepen.io/MojtabaSamimi/pen/MWeBaoL?editors=0010).

[2020-11-04 19:13] #5195 closed

[2020-11-04 19:13] #5250 closed

[2020-11-04 21:37] aldomart opened #5251 "dragmode [Intervention] Ignored attempt to cancel a touchstart event"
hi, I'm having an issue:

Using a Node server with Chrome on Windows in mobile mode I'm getting:
    **plotly.js:90457 [Intervention] Ignored attempt to cancel a touchstart event with cancelable=false, for example because scrolling is in progress and cannot be interrupted.**

tried with plotyly version 1.54.7 and version 1.57.1, same...

looking at plotly code I found it's failing on e.preventDefa

[2020-11-05 08:33] Radurer opened #5252 "Position new axes programatically."
I would like to request this feature. When creating multiple y axes, have them position automatically, in order to not overlay. In order to do so, you'd have to use the `position` attribute, with a specified amount.

When adding a new axes, instead of having it on top of the initial one, have it further away from the chart than the first axis. The following link shows exactly how I'd like it to lo

[2020-11-05 13:56] #5247 closed

[2020-11-06 14:39] inselbuch commented on #1847
Would like to chime in on the possibility of simply disabling the tooltips. I still want the click behavior to return the closest point. I just don't want the tooltip at all.

[2020-11-06 15:13] alexcjohnson commented on #1847
@inselbuch that should just be `hoverinfo: 'none'` https://plotly.com/javascript/reference/scatter/#scatter-hoverinfo

[2020-11-06 16:08] inselbuch commented on #1847
Wonderful!
I had tried "skip" ... did not see "none"

You are a rock star.

Sent from my iPad

On Nov 6, 2020, at 9:14 AM, Alex Johnson <notifications@github.com> wrote:

﻿

@inselbuch<https://github.com/inselbuch> that should just be hoverinfo: 'none' https://plotly.com/javascript/reference/scatter/#scatter-hoverinfo

—
You are receiving this because you were mentioned.
Reply to this email direct

[2020-11-06 16:48] leo-smi commented on #106
Can't change image height yet, just the width!

[2020-11-08 22:37] AdamDorwart commented on #4729
I've been able to replicate this issue in Python. It looks like it only happens to Candlestick and not OHLC for me. After launching that dash application click the start date selector and choose a date a week in the future.

![image](https://user-images.githubusercontent.com/2080615/98486059-ee9ac780-21cf-11eb-9d43-1a3718461c0c.png)

[code]

Here's a small repository that hosts the data a source:

[2020-11-09 12:48] avsdev-cw commented on #2291
I would also like to see this fixed, so +1 for that.

However that I feel that sponsership range is pretty excessive considering a bunch of people have already dug out what the root cause appears to be...

[2020-11-09 12:54] silviubogan commented on #5243
I get the same error again and in a similar situation, so I think it is real. This time I have more information. We use `plotly.js 1.57.0` and `react-plotly.js 2.5.0`. The code [is here](https://github.com/eea/volto-bise/blob/41b4dbfd83ac7f4718cd9fdd45c4c30870f71954/src/components/theme/datablocks/ConnectedChart/ConnectedChart.jsx) and the situation in images is:

## Browser window contents
![imag

[2020-11-09 13:56] silviubogan commented on #5243
I think that the following error might be related to the same issue:
![image](https://user-images.githubusercontent.com/198924/98549853-09d70700-22a4-11eb-9642-5620be453e40.png)

[2020-11-09 14:04] silviubogan commented on #5243
I have tested and the screenshot in my message above is the root cause of this issue.

In chronological order:

1. I start the server.
2. I open the browser with the web app URL.
3. The error in my previous message appears in the terminal and approximatively at the same time in the browser I get this:
![image](https://user-images.githubusercontent.com/198924/98550463-cd57db00-22a4-11eb-803b-cead46

[2020-11-09 15:08] archmoj commented on #5243
@silviubogan could you investigate if [probe-image-size](https://www.npmjs.com/package/probe-image-size) depends on `fs`? And if it does not, can we replace it with `image-size` here?
https://github.com/plotly/plotly.js/blob/e62219a57e1024082d221e9e460d986bc057b8ec/src/traces/image/helpers.js#L11

[2020-11-09 16:12] silviubogan commented on #5243
In our code, the issue is that these instructions (just them, as I verified), when not commented out, produce the error related to the `fs` module, although I was thinking this is impossible since I tested them in a context where they are not used anywhere:

[code]

I still do not understand how `loadable.lib` works. I thought it lazy loads the libraries, so if none of the `const`s above are used,

[2020-11-09 16:50] silviubogan commented on #5243
The `probe-image-size` library does not require `fs` and, they say, finds the length only through HTTP. An example usage is this:

[code]

(via [this link](https://github.com/nodeca/probe-image-size/blob/c16972265caba1e3caa636d37a23f42eb2dc878f/test/test_http.js#L49-L61))

But its internal functions are easy to use and extend. If time allows me to do this, I can try to use it for your use cases.

[2020-11-10 06:59] jleaves opened #5259 "[Feature Request] Support arrays of color and colorscale for line and fillcolor of `plotly.graph_objects.Scatter`"
Coming from [plotly.py](plotly/plotly.py). Since this is about the `plotly.graph_objects` module, the issue is posted here.

Currently, only `plotly.graph_objects.Scatter.marker`, `plotly.graph_objects.Scatter.marker.gradient` and `plotly.graph_objects.Scatter.marker.line` supports assigning colors by arrays of `color` along with `colorscale`.

Could the same color-setting techniques be allowed fo

[2020-11-10 14:01] vik-s commented on #4074
Hey, was the smith chart ever incorporated into plotly?

[2020-11-10 15:45] Gloamglozer commented on #4074
No, it looks like @ajundi had a good start. Adding smith charts was a big
ambitious for me not knowing JS (coming from C and Python), suggest he
makes a fork and PR, you can mention me in that fork

On Tue, Nov 10, 2020 at 9:01 AM Vikram Sekar <notifications@github.com>
wrote:

--
--Eric Valentino

[2020-11-10 15:46] nicolaskruchten opened #5260 "legendgroup titles"
A new attribute for every trace that supports a `legendgroup` called `legendgrouptitle`. The first `legendgrouptitle` for a given legend group should be used, even if a later one conflicts. This should specify a title that appears above the legend group in the legend.

[2020-11-10 16:05] nicolaskruchten commented on #4074
@ajundi that looks really amazing! If you want to submit a pull request so we can see how you did it, we'd be happy to review it and work towards getting it incorporated into Plotly!

cc @alexcjohnson check this out!

[2020-11-10 16:13] lstuemke commented on #4074
@nicolaskruchten -  Hi Nicolas, it looks like @ajundi was just referencing my post to ask me a question. Anyway, I'd love to help get this incorporated into Plotly.

[2020-11-10 16:20] nicolaskruchten commented on #4074
@lstuemke right, my mistake, sorry! Either way, if we can get this into a PR we'd love to help.

[2020-11-10 17:00] vik-s commented on #4074
Exciting! I would love to see this in plotly. My lack of JS know-how may not help development, but if I can help in testing in python, please let me know. I'm writing a streamlit app to plot RF sparameter data, and plotly would be a prime plotting tool. Smith charts would be awesome obviously!

[2020-11-10 17:39] nicolaskruchten commented on #5259
These are both good ideas although a bit trickier to implement because these arrays wouldn't have the same lengths as the others in the trace: the line.color would be 1 element shorter, and the fillcolor one would be different again. I'm actually not clear what kind of plot you'd like to make with variable fillcolor :)

[2020-11-10 17:41] nicolaskruchten commented on #5243
I could be way off the mark here but the `document is not defined` error suggests to me that you're trying to use this module in a NodeJS context rather than a browser context, which is not really a supported use-case at all... Is that indeed what you're trying to do?

[2020-11-10 19:25] silviubogan commented on #5243
Yes, more precisely we use razzle with SSR. I hope that SSR is supported.

Thank you.

[2020-11-10 19:37] nicolaskruchten commented on #5243
Unfortunately, pure-Javascript SSR is not officially supported at this time and I'm not aware of anyone having successfully done it unofficially, due to this exact issue. Plotly.js relies extensively on browser APIs which are generally not available or hard to emulate on the server short of running a full in memory browser like we do in the Kaleido project.

[2020-11-10 22:25] alexcjohnson commented on #5259
I'm guessing the variable fillcolor would be like https://stackoverflow.com/a/59950664/9188800
![Q6kC7gQ](https://user-images.githubusercontent.com/2678795/98740173-a2d75200-2378-11eb-9947-dd8d683320d9.png)

The line case is covered in https://github.com/plotly/plotly.js/issues/581 - short answer: big pain in SVG, more manageable in `scattergl`. I'd say the same goes for variable `fillcolor`

@nic

[2020-11-11 10:50] vinerich opened #5261 "How to handle discontinuity in data"
Hey folks,
at first thanks for the hard work.

### Problem/Question
For certain applications we have data that should come in at a `regular interval`, suppose something like `2 seconds`. If this data is not coming in (**there are no datapoints at all (!)**) it should be considered a discontinuity.

I'm trying to achieve an interpolate display of data which is continous and a disconnected display o

[2020-11-11 18:24] archmoj opened #5262 "missing first tick when ticks: 'inside' and ticklabelmode: 'period'"
[codepen](https://codepen.io/MojtabaSamimi/pen/BazGXOJ?editors=0010)

[2020-11-11 18:39] archmoj opened #5263 "should clip inside ticks"
[codepen](https://codepen.io/MojtabaSamimi/pen/LYZMPYb?editors=0010)

[2020-11-11 18:46] archmoj opened #5264 "should increase autorange pad for long inside ticks"
[codepen](https://codepen.io/MojtabaSamimi/pen/JjKwPGR?editors=0010)

[2020-11-11 19:01] nicolaskruchten commented on #5263
probably pretty marginal/unlikely to happen in the wild, I would not put work into this.

[2020-11-11 19:02] nicolaskruchten commented on #5262
This one we should fix please.

[2020-11-11 19:02] nicolaskruchten commented on #5264
We can log a bug here but I'm OK not working on this just now.

[2020-11-11 19:28] alexcjohnson commented on #5263
I don't consider this a bug. Yes in extreme cases like this the overflowing tick looks odd, but in more realistic cases you want the tick to either be entirely visible (when the label is visible) or entirely gone along with the label. A partially-visible tick would look wrong.

[2020-11-11 19:28] #5263 closed

[2020-11-11 19:31] alexcjohnson commented on #5264
I don't think this should be the default behavior. When we give folks the ability to customize the padding they can do it manually. cc #1876

[2020-11-11 19:57] archmoj commented on #5264
This conflicts with #5186. Namely when both `ticks` and `ticklabelposition` are set to `inside`.

[2020-11-11 20:07] alexcjohnson commented on #5264
I don't see that as a conflict - labels should by default not overlap the data, so when those are inside the padding should increase enough for the labels and any space between the labels and the axis (ie where the ticks are). But if you've asked for inside ticks without inside labels, there are plenty of cases where the ticks overlapping the data is what you want - heatmaps, lines going to the ed

[2020-11-11 20:15] archmoj commented on #5264
Thanks for the clarification. So I'll only address this for the case of "inside" `ticklabelposition` without touching the default behaviour for other "inside" `ticks`.

[2020-11-11 20:15] #5264 closed

[2020-11-11 21:27] cldougl opened #5265 "option to draw grid above traces"
Add attribute to affect the z-order of the x and y axes gridlines such that the traces added to my figure do not obscure the gridlines, by default the traces are always drawn on top of the grid lines.

[2020-11-11 22:25] alexcjohnson commented on #5265
Feels like there are at least three layers we might want the grid to be in:
- behind all data (where it is today)
- in front of all data
- above heatmaps and contour maps, but below scatter. Actually maybe also above bars too, so you could do the "minimal ink" gridlines matching the background and [only visible on the bars](https://www.visualisingdata.com/2019/07/five-ways-to-present-bar-charts/)

[2020-11-12 10:51] jonmmease opened #5266 "mapox layers reordered after updating figure with Plotly.react"
### Overview

I would like to overlay a mapbox `image` layer on top of a mapbox `raster` layer and update the `image` layer's `coordinates` and/or `source` properties in response to zoom/pan events using `Plotly.react`

On initial render, everything works fine and the z-order of the two layers matches the order in the `layout.mapbox.layers` array. However, after updating the image layer's `coordin

[2020-11-12 13:59] archmoj commented on #5266
It is an update bug here:
https://github.com/plotly/plotly.js/blob/98dfdb836e56296361e537f15d885b3916bebbdb/src/plots/mapbox/layers.js#L37-L56

It seems to work if I replace the function with something like:

[code]

[2020-11-12 14:02] jonmmease commented on #5266
Thanks, I'm playing with it now.

[2020-11-12 14:18] nicolaskruchten opened #5267 "category order bug"
This pen https://codepen.io/nicolaskruchten/pen/OJXrOLG shows (on my machine anyway) the categories being out of order:

![image](https://user-images.githubusercontent.com/203523/98951227-fc01cb80-24c7-11eb-9366-0d5ae6ed0afc.png)

reported in https://github.com/plotly/plotly.py/issues/2350 but oddly not always reproducible.

[2020-11-12 14:25] archmoj commented on #5267
Here is a [minimal codepen](https://codepen.io/MojtabaSamimi/pen/yLJGPYJ?editors=0010).

[2020-11-12 21:39] #5267 closed

[2020-11-13 03:52] MarcSkovMadsen opened #5270 "Plotly.js is not height responsive"
I'm using Plotly.js via Python. I'm also a user of other plotting libraries like Bokeh, Vega/ Altair and Echarts. And I can see that the responsiveness functionality of plotly.js is just not as robust, fast and seamless as the others.

The one thing where I can point to a reproducible example right now is height responsiveness.

If you take the example at https://plotly.com/javascript/responsive-f

[2020-11-13 04:15] MarcSkovMadsen commented on #5270
#### Additional Context

You can experiment with the behavior of Plotly vs other plotting libraries here.

App: https://awesome-panel.org/streaming-plots
Code: https://github.com/MarcSkovMadsen/awesome-panel/blob/master/application/pages/streaming_plots/streaming_plots.py

![plot-not-responsive-streaming](https://user-images.githubusercontent.com/42288570/99027525-bd265100-256d-11eb-890c-5a30ab535

[2020-11-13 04:27] MarcSkovMadsen commented on #5270
## Additional Context 2

Another reproducible example can be found here https://github.com/holoviz/panel/issues/1770#issue-740981139

![98850094-87da1000-2454-11eb-9c74-be10e8e5914c](https://user-images.githubusercontent.com/42288570/99028761-edbbba00-2570-11eb-80af-81621cfae0dd.gif)

[2020-11-13 08:08] LTribelhorn commented on #4885
Has there been any progress on this? Or is there a temporary work-around?

In my case the font isn't even included in svg downloads.

[2020-11-13 14:00] Alex-Monahan opened #5271 "Question: Will Plotly.js get Plotly Express?"
Hi All!

We are just getting started using Plotly.js and it is great so far! We are building a self-service analytics platform with it, so we are trying to keep things as simple as we can for our users.

I looked through the issues and couldn't find an answer to this. Are there plans or a way to use the power of plotly express in plotly.js? It would greatly simplify things for is, as we are intend

[2020-11-13 15:46] antoinerg commented on #4885
I just tried the following [Codepen](https://codepen.io/antoinerg/pen/pobGgQZ) and to my surprise, the PNG export does contain the correct font on `Chromium Version 85.0.4183.83 (Developer Build) (64-bit)` on Linux. I could however reproduce the issue on Firefox.

[2020-11-13 16:12] antoinerg commented on #4885
I forked the original Codepen provided in this issue (https://github.com/plotly/plotly.js/issues/4885#issue-627594588) and replaced `'Oswald'` by `Oswald` and fonts are now properly rendered even in Firefox: https://codepen.io/antoinerg/pen/vYKbGKm

In summary, it seems like Firefox and some other browsers choke on single quotes.

[2020-11-13 16:13] antoinerg commented on #4885
@LTribelhorn are you using single quotes? Can you try removing them?

[2020-11-13 16:51] miketerp opened #5272 "mirroring axis in splom is not consistent"
Based on splom examples (https://plotly.com/python/splom/), when someones trying to mirror the x & y axis, only the graph on the bottom left is "mirrored". We would like to have this consistent across all of the graphs.

How to reproduce:
Take the example from (https://plotly.com/python/splom/), apply "mirroring"

[code]

Here's a screenshot:
![splom mirror axis](https://user-images.githubusercont

[2020-11-13 17:36] cjacksudo commented on #4885
@antoinerg for what it's worth, I tried [your codepen](https://codepen.io/antoinerg/pen/vYKbGKm) without any luck - the behavior is the same, and the font is not included in the downloaded png.

I'm on chrome 86.0.4240.198

[2020-11-13 17:41] Wes-Kuegler commented on #4260
@brian428 I've found the same, but I'm running into an issue where I have large 2D data for 'z', but only a 1D array for 'customdata' labels. I want to apply 'customdata' strings to entire "rows" in 'z', not each element. For example, I have 'customdata=["a", "b," "c"]` and I want to apply 'b' to each of 'z[2][x]'. The workaround I'm using is to create a new array of the same length as 'z[x].lengt

[2020-11-13 17:47] antoinerg commented on #4885
Thanks @cjacksudo for the quick reply! What is your operating system?

[2020-11-13 17:54] cjacksudo commented on #4885
I'm on macOS (10.15.6).

Yeah, I'm seeing the same thing with https://codepen.io/antoinerg/pen/pobGgQZ

[2020-11-13 18:55] bantimodi opened #5273 "diffConfig always returns true if modeBarButtons (array of array) is populated"
diffConfig function has bug where it always returns true if modeBarButtons (array of array) is populated. This results in unnecessary re-rendering. The function should check if the array member is array inside a for loop, It should be -

/*
 * simple diff for config - for now, just treat all changes as equivalent
 */
function diffConfig(oldConfig, newConfig) {
    var key;

    for(key in oldConfi

[2020-11-13 19:20] #5266 closed

[2020-11-13 19:23] antoinerg commented on #4885
I updated my [Codepen](https://codepen.io/antoinerg/pen/pobGgQZ) to use a dev build of plotly.js which contains a fix. Can someone please confirm it is indeed working on their OS/browser?

cc @archmoj  @cjacksudo

[2020-11-13 19:34] archmoj commented on #4885
Not working on my machine.
@antoinerg
Wondering if one should open the downloaded image in the browser?

[2020-11-13 19:36] antoinerg commented on #4885
What's your browser and OS @archmoj ? It works for me both in FF and Chromium on Linux... :confused:

Since they are PNG, it shouldn't matter what you use to open them!

[2020-11-13 19:36] alexcjohnson commented on #4885
That new codepen still fails for me (Chrome 86 or any other browser, Mac OS 11.0.1)

[2020-11-13 19:36] archmoj commented on #4885
Nevermind. It is a `png` so it should not matter.

[2020-11-13 20:46] cjacksudo commented on #4885
Still fails for me as well

[2020-11-13 21:25] ciuliene opened #5274 "Stacked binary traces"
Hello, I have a problem with Plotly.js. I'm trying to draw some traces which have 0 and 1 as values. They are digital variables and what I want to do is to draw them one above the other one, like this:

![Schermata 2020-11-13 alle 22 15 25](https://user-images.githubusercontent.com/47216590/99122057-e4c4fa00-25fd-11eb-89fc-64a8a603d81b.png)

To do so, I faked each trace values. First trace can be

[2020-11-13 22:24] alexcjohnson commented on #5274
You can use a category axis. Might just work exactly as you have it but with `yaxis.type='category'`, but then you don't need to encode the values as numbers, any unique values will do. Here I just used strings to get a category axis automatically:
[code]
![Screen Shot 2020-11-13 at 5 11 18 PM](https://user-images.githubusercontent.com/2678795/99126080-73705180-25d3-11eb-9396-ad553fb43bd9.png)

Th

[2020-11-13 22:42] antoinerg commented on #4885
It turns out my Codepen was using fonts already installed on my workstation so please disregard my comments above.

The bad news is that we rely on `<img>` to turn our SVG into an image and according to https://stackoverflow.com/a/42405731

This means that you'll have to embed all your external resources as dataURIs inside your svg markup itself, before loading it to the `<img>` element.

Therefor

[2020-11-13 23:20] alexcjohnson commented on #4885
It would be a bit unfortunate if we needed to require users to explicitly specify these, just to make the downloaded image match what's already in their graph; I was hoping we'd be able to just read out the`@font-face` rules that were active in the document, and add them automatically. And it seems like we can do that for locally-defined rules (by hunting through `document.styleSheets`) but it's f

[2020-11-14 05:59] Scoodood opened #5278 "[BUG] Array buffer allocation failed"
**Describe your context**
Steps to setup my environment
[code]
**My `pip list`**
[code]

**My System**
[code]

**Describe the bug**
I am getting **Array buffer allocation failed** error when I try to generate a 3D plot with a huge number of data points in it.
Here is my code to reproduce the error when using `n=2500`
[code]

![image](https://user-images.githubusercontent.com/15989924/99140771-957c

[2020-11-14 10:43] LTribelhorn commented on #4885
@antoinerg Sorry for the late response and thank you very much for your effort.
I am using the R-Implementation of plotly so the usecase is ifferent but I thought the problem might be connected. If you don't think so I could open a new issue in the R-Repository.

For context:
I am using plotly in a Shiny-app and I define the fonts as specified in the documentation with `font_p <- list(family = "Ro

[2020-11-14 16:10] mohanprasadgutta opened #5276 "left edge of graph renders without markings first, then re-renders and appears to jump right when using background images"
Hello,

I am having problem with latest Plotly.js version when using it to plot graphs with background images.  When I am not using "images" attribute in layout my graph renders steadily with out jumping to right. But when I try to use "images" attribute in layout to set a background image for my graph, it first renders left-axis(i.e y axis) jumps right without markings and then re-renders with ma

[2020-11-14 21:05] dbluhm opened #5277 "Ploty.js in Shadow DOM hover flicker"
When Plotly.js is rendered inside of a ShadowDOM, the hover elements rapidly draw, clear, and redraw causing a flickering effect on `mousemove` events under specific conditions.

[Demonstration in codepen](https://codepen.io/dbluhm/pen/ZEOwjVK)

And a GIF
![hover-flicker](https://user-images.githubusercontent.com/22032832/99156761-982afe80-2691-11eb-83e9-207ba772bde6.gif)

For comparision, here is

[2020-11-14 21:13] ciuliene commented on #5274
Hey @alexcjohnson , I've done it! I managed to have stacked binaries using, as you told me, type: "category", categoryorder: "array", and categoryarray. Each time the user clicks on the legend the categoryarray property is reloaded. It now works exactly as I wanted

I haven't checked the case with an "invisible" trace (visible : false) because I don't use it. Anyway thank you so much for your help

[2020-11-15 01:11] jackparmer commented on #1435
The 3d versions were completed several years ago, sorry this issue was never updated:

- https://plotly.com/python/cone-plot/ | https://plotly.com/javascript/cone-plot/
- https://plotly.com/python/streamtube-plot/ | https://plotly.com/javascript/streamtube-plot/

2d Plotly streamline plots currently still only exist for Python. There are no plans currently for a native plotly.js 2d streamline trac

[2020-11-15 01:17] jackparmer opened #5279 "Idea: 3d shapes API for solid body modeling"
In the Plotly.py Python library, to make a solid body [such as this aircraft](https://dash-gallery.plotly.host/dash-aerosandbox/) or [this brain](https://dash-gallery.plotly.host/dash-brain-viewer/), your best bet is the [Mesh 3d API](https://moderndata.plotly.com/visualizing-56-ply-files-in-python/).

<img width="972" alt="image" src="https://user-images.githubusercontent.com/1865834/99159506-e39

[2020-11-15 01:18] jackparmer commented on #327
Great idea. Closing in favor of a more recent and complete write-up over here, https://github.com/plotly/plotly.js/issues/5279

[2020-11-15 01:18] #327 closed

[2020-11-15 02:18] alexcjohnson commented on #5274
@ciuliene OK great, glad that worked! There's still a bug here though, so I'll leave the issue open until we address it.

[2020-11-15 15:00] tboerstad opened #5280 "Autorange behaves differently for mode='markers' vs mode='lines'"
First of all, thank you very much for Plotly.js. It's helped me out a lot.

As a developer, I would have expected that the x- and y-range would be stable when toggling the mode.

See this [codepen example](https://codepen.io/tboerstad/pen/NWPOMde) and observe that the x- and y-range jumps when toggling between a line and scatter plot.

This is a minor issue, and feel free to close it if it's inten

[2020-11-16 10:35] COLLINETTEBastien opened #5281 "Hover info offset in Horizontal Bar Charts with low height"
Hello !

I am currently working with Horizontal Bar Charts and I noticed a strange offset on the hover info that display the values.
It occurs when the height's value is low and the x-axis values in the middle of the graph are close to each other.

Here's an example :
https://codepen.io/collinettebastien/pen/XWKGNxW

In the example, hover values for Wed, Thu and Fri have an offset that put a part

[2020-11-16 14:06] alexcjohnson commented on #5280
I'm glad plotly.js has helped you!

These differences are intentional - line charts get no padding in the x direction, whereas with markers you get padding in both directions. Exactly why x and y are treated differently is a bit subtle, but I'd say the main thing is different expectations around independent vs dependent variables. Also with markers we need to leave extra room in both directions fo

[2020-11-16 14:06] #5280 closed

[2020-11-16 14:18] alexcjohnson commented on #5281
Thanks for the report @COLLINETTEBastien - to be clear, here's a picture of the misalignment in your codepen:
<img width="116" alt="Screen Shot 2020-11-16 at 9 11 46 AM" src="https://user-images.githubusercontent.com/2678795/99262370-e48a5180-27eb-11eb-93ea-0daca3281f67.png">
It looks like "786" and "Primary" are aligned correctly, but "783" and "Tertiary" are too high and "789" and "Secondary" ar

[2020-11-16 14:43] nitramwin commented on #1212
It seems, this problem is occurring again in 2020.

[2020-11-16 14:50] archmoj commented on #1212
@nitramwin could you please share a minimal codepen illustrating the bug you noticed?
Thanks!

[2020-11-16 17:06] nicolaskruchten opened #5282 "Don't add zero-length bars when transitions are off"
We need to resolve https://github.com/plotly/orca/issues/345 and it seems like we need to carve out a part of https://github.com/plotly/plotly.js/pull/4180 that adds 0-length bars for transitions. In the static-image-export case these bars are not required and cause rendering artifacts downstream.

We could either: check if `layout.transition` isn't set and if so not show those bars OR remove thos

[2020-11-16 17:31] wwjd1234 opened #5283 "How to draw a vertical or horizontal line?"
Is there a way on a barchart, to also draw a horizontal line and a vertical line?

[2020-11-16 19:01] archmoj opened #5284 "Missing choropleth colors in hover"
https://rreusser.github.io/plotly-mock-viewer/#geo_choropleth-usa_legend

[2020-11-16 19:29] nitramwin commented on #1212
@archmoj Thanks for the response. Here it is: https://codepen.io/nitramwin/pen/mdEoxZo

[2020-11-16 19:38] archmoj opened #5285 "Missing colors in bar legend having a colorscale"
Originally reported in https://github.com/plotly/plotly.js/pull/1289#issuecomment-728275102 by @nitramwin
[Minimal codepen](https://codepen.io/MojtabaSamimi/pen/MWexGwp?editors=0010)

[2020-11-16 19:40] archmoj commented on #1212
Thanks @nitramwin. Tracked in #5285.

[2020-11-16 20:36] #4055 closed

[2020-11-17 01:07] jdpaterson opened #5286 "Version Release"
Hi, when will the next version be released? I would like to see some changes get reflected in dash-core-components and am having trouble trying to pull that off manually. Thanks!

[2020-11-17 01:13] archmoj commented on #5286
Thanks for your PR.
Possibly in a week or two.

[2020-11-17 01:13] #5286 closed

[2020-11-17 11:20] aykutkilic opened #5288 "Setting document.body.style.zoom messes zoom mouse interaction"
Setting document zoom level e.g.:

`document.body.style.zoom = 0.8;`

messes mouse interaction for zooming. Please check out: https://codepen.io/aykutkilic/pen/bGeZXYp

Other interaction like panning, translating axis, zoom all works normally

[2020-11-17 13:06] jjrob13 commented on #1847
Hey sorry to jump in here, hoping my usecase is already supported as the previous commenter's was.

I often use plotly to visualize many series with different ranges on a shared timescale.  One feature I've been searching for (and I'm not sure if it's part of this issue or not - so pardon my asking) is the ability to have clicks persist the hover dialog.

For example, I'd love to be able to do som

[2020-11-17 13:25] nicolaskruchten commented on #1876
Related: https://github.com/plotly/plotly.js/issues/5194

[2020-11-17 14:45] joshrabinowitz commented on #5276
It may not be totally obvious in the second, `with "images" attribute` example above, because it happens so quickly in some browsers, but the left y-axis gets drawn to the very left first, and then shifts right to make room for the labels on the y-axis. When we show graphs with a lot more data lines, this is more obvious.

As we show in the first example above, this behaviour does not seem to occu

[2020-11-17 15:02] nicolaskruchten commented on #5288
This seems like a duplicate of #888 which we are working on fixing right now actually.

[2020-11-17 15:22] alexcjohnson commented on #5288
`zoom` isn't currently included in the PR fixing this, though it could be - see https://github.com/plotly/plotly.js/pull/5193#issuecomment-728998108

[2020-11-17 16:31] COLLINETTEBastien opened #5289 "Issues while using Google Closure Compiler on plotly-cartesian-1.57.1.js"
Hello !

I didn't know if I had to post this in the forum or here, but since I think that what I found could result in fixes, I have chosen to post this here.
I am using plotly-cartesian-1.57.1.js (which is currently the latest version of Plotly Cartesian) not minified and I tried Google's Closure Compiler on it.
It resulted what might be some issues in the code :

**-line 584: unreachable code**

[2020-11-17 19:22] alexcjohnson commented on #5158
@archmoj FYI I also see this bug in Safari 14, on Mac OS 11.0.1 Big Sur. No messages show up in the console.

[2020-11-17 21:08] archmoj commented on #5288
<i>This feature is non-standard and is not on a standards track. Do not use it on production sites facing the Web: it will not work for every user.</i>
https://developer.mozilla.org/en-US/docs/Web/CSS/zoom

cc: @antoinerg

[2020-11-17 21:11] archmoj commented on #4330
Closing in view of the note by @jonmmease:
<i>It's possible now using a mapbox image layer and a base64 encoded png.  Not sure if there's value in making an easier JavaScript API for it, but plotly express could provide a px.imagemapbox function based on what's already available.</i>

[2020-11-17 21:11] #4330 closed

[2020-11-18 05:54] aykutkilic commented on #5288
Our apps do not face web and run in CEF.

[2020-11-18 10:05] Sachin-DAI commented on #2077
Here is code based on angular-plotly but it can also be used here

this.plotlyService.getPlotly().toImage(plotDiv, { // First converting to svg as IE has this option only for plotly
          format: 'svg', width: dPlotWidth, height: dPlotHeight, filename: plotSaveAsFilename
        }
        ).then(function(encodedUrl) {
          // console.log('svg DataURI :: ', encodedUrl);

          const va

[2020-11-18 19:09] alexcjohnson commented on #5288
@aykutkilic that's a good point - I think we're going to leave #5193 as it is just addressing `transform`, since it's tricky to handle both attributes within the architecture of that PR. But there is another approach of determining the scaling empirically via `getBoundingClientRect` on test elements in the corners of the graph that should handle `zoom` just as well as `transform`. If anyone is int

[2020-11-18 19:43] #888 closed

[2020-11-18 22:28] 7anushetty commented on #3167
Hi team, is there any workaround or update on fixing this **bug**?

[2020-11-18 22:29] archmoj opened #5290 "Autoscale error with false axis.autorange"
Pressing `Autoscale` on [this codepen](https://codepen.io/MojtabaSamimi/pen/abZxePK?editors=0010) resulted in the console error!

[2020-11-18 22:29] 7anushetty commented on #3167
Hi team, is there any workaround or update on fixing this **bug**?

[2020-11-18 22:33] archmoj commented on #5290
Regression since [v1.42.0](https://github.com/plotly/plotly.js/releases/tag/v1.42.0).

[2020-11-19 02:22] nicolaskruchten commented on #888
This issue was tagged as "needs sponsorship" and was instead resolved by the contribution of an excellent pull request for this long-standing issue. Thank you so much for taking the initiative on this @alexhartstone!

[2020-11-19 02:24] soerendip commented on #316
And how can we get it back? Cannot find a description anywhere.

[2020-11-19 02:28] nicolaskruchten commented on #316
you can set the `showEditInChartStudio ` option to `true` in `config`: https://plotly.com/javascript/configuration-options/#display-edit-in-chart-studio-modebar-button

[2020-11-19 02:35] alexhartstone opened #5291 "Allow for correction of dynamic css transformations"
Recently a [bug](https://github.com/plotly/plotly.js/issues/888) with interactions on css-transformed plots was fixed. However, this fix is not yet dynamic, and doesn't work in the use-case where transforms are being applied dynamically - for instance, to simulate zooming of a plot.

[This codepen](https://codepen.io/alexhartstone/pen/abZrzVE) demonstrates a statically applied transform, applied b

[2020-11-19 02:37] alexhartstone commented on #5291
@archmoj @alexcjohnson FYI - the follow-up issue

[2020-11-19 02:40] soerendip commented on #316
And with plotly.py ? I tried finding it.

[2020-11-19 09:22] ityoung2016 commented on #5222
I don't know if this helps but I get the same error message from my app on an iPad (iPadOS v14.2) through a Safari console attached to my iPad. The complete message is:

"webgl setup failed possibly due to enabling preserveDrawingBuffer config. The device may not be supported by is-mobile module! Inverting preserveDrawingBuffer option in second attempt to create webgl scene."

After the "second at

[2020-11-19 14:45] nicolaskruchten commented on #316
The same options work for Python, which you can pass in as documented here: https://plotly.com/python/configuration-options/

[2020-11-19 17:17] archmoj commented on #5289
Thanks for the analysis.
For this one you should possibly open a PR to [glslify-deps](https://www.npmjs.com/package/glslify-deps) to bump the version of [events](https://www.npmjs.com/package/events).
├─┬ glslify@7.1.1
│ └─┬ glslify-deps@1.3.1
│   └── events@1.1.1

[2020-11-19 19:21] archmoj commented on #5289
This one related to `d3` (v3).
See https://github.com/d3/d3/blob/9cc9a875e636a1dcf36cc1e07bdf77e1ad6e2c74/src/start.js

[2020-11-19 19:23] nicolaskruchten opened #5292 "Unified hover with hi-freq scatter on low-freq bars"
In this pen, the behaviour of unified hoverlabels and spikelines is unsatisfying: https://codepen.io/nicolaskruchten/pen/abZrYJO?editors=0010

1. the behaviour is fairly different while moving the cursor in the middle of the y-range within the x-range of the short vs tall bar... this can be tracked in https://github.com/plotly/plotly.js/issues/4716
2. although the bar spans the period, it's basica

[2020-11-19 19:30] nicolaskruchten commented on #5271
Hi Alex! I'm glad you like Plotly Express :)

There are no plans to port this to Javascript at the moment, no... PX relies heavily on stuff that exists mostly in Python only like Pandas dataframes etc, which just aren't available or mature in JS.

[2020-11-19 19:44] archmoj commented on #5289
And I don't see that used in `d3` v5 or v6 until we could bump `d3`. cc: https://github.com/plotly/plotly.js/issues/424

[2020-11-19 21:30] alexcjohnson commented on #5291
Thanks @alexhartstone

What about this as a strategy: the thing we want to avoid is walking the tree and recreating the transformation matrix on every hover. But at the beginning of a hover event we're already making `getBoundingClientRect` calls so another such call should be cheap. So how about we not even calculate the transformation during the initial draw, but when we're ready to ask for the

[2020-11-20 04:43] alexhartstone commented on #5291
@alexcjohnson that sounds great, I will get on this ASAP - most likely monday australian time. Thanks for the prompt response!

[2020-11-20 13:42] nicolaskruchten opened #5295 "Mapbox North Arrow and Scale Bar"
We should expose attributes to turn on the north arrow and scale bar in Mapbox subplots: https://docs.mapbox.com/mapbox-gl-js/api/markers/#navigationcontrol and https://docs.mapbox.com/mapbox-gl-js/api/markers/#scalecontrol ... seems similar to [when we added attribution](https://github.com/plotly/plotly.js/pull/4069) ?

cc @alexcjohnson

[2020-11-20 13:59] nicolaskruchten opened #5296 "Mapbox Max/Min Zoom and bounds"
For many applications it would be good to be able to set bounds on where the user can pan and zoom mapbox maps: https://docs.mapbox.com/mapbox-gl-js/example/restrict-bounds/ and  https://docs.mapbox.com/mapbox-gl-js/api/map/#map#setmaxzoom

[2020-11-20 14:01] nicolaskruchten commented on #5296
See also https://github.com/plotly/plotly.js/issues/3434 and the related cartesian #1876

[2020-11-20 14:07] nicolaskruchten commented on #5292
Some thoughts on some orthogonal modifications we should make to proceed (assuming orientation is `v`, and applying to hovermodes `x` and `x unified`, as well as the reverse):

1. If the cursor's x-position is within the x-range of the bar, the bar's point should be included in the set of points that get a hoverlabel.
2. For tall bars like the one on the right here, when hovering over a scatter po

[2020-11-20 14:10] alexcjohnson commented on #5292
Offhand it seems to me we need:

(1) A way for the scatter trace to always win the hover label when there is a scatter trace. This is tricky because we probably want the bar to still produce a hover label when there’s no scatter trace at all - ie in years other than 2017 in their example. But we probably also want to NOT revert to hovering on the bar when you’ve zoomed in and your pointer is halfw

[2020-11-20 14:19] nicolaskruchten commented on #5292
@alexcjohnson re your point 1, some questions:

1. How would we handle situations where we have two adjacent bars A and B, with scatter points Q (close to left edge of A) and R (close to left edge of B) and the cursor is close to the right edge of A... In that case we'd get a hoverlabel with A and R, which seems wrong. It almost seems like we need to do some cross-trace work here?
2. If in effect

[2020-11-20 14:39] NixTheMan commented on #2216
is there any plans to resolve this bug? Or is there a current workaround??

[2020-11-20 14:48] alexcjohnson commented on #5292
This will be a good test case. But hover already uses a multi-step process, that I think will do the right thing here: first we figure out which point is the "best", then we look at the other traces and see which ones have a compatible point with the "best" one. One weird thing with this case is if you set a large enough hover distance, scatter point R will win even if the cursor is over the right

[2020-11-20 14:57] nicolaskruchten commented on #5292
So in this case, the spikeline will be on R, and the hoverlabel points will be R and B, even though the cursor is over A?

[2020-11-20 15:52] #5282 closed

[2020-11-20 20:21] lokeshmajji commented on #3227
I see this issue when plotting more than 500 traces, Python Plotly doesn't have this issue though.

[2020-11-21 08:33] bainro commented on #3879
This might be fixed or the information to do what the original user wants might be easily available:

[code]

This will fire an event when the user changes the column order. It returns an array where each element is an object, and each object has a label field. Those labels can be used to detect the original order and subsequent orders.

[2020-11-21 19:47] #3539 closed

[2020-11-21 19:49] alexcjohnson opened #5298 "Rangebreaks autorange bug when first point is inside a break"
see https://github.com/plotly/plotly.js/pull/5287#discussion_r528234233

[2020-11-21 19:53] alexcjohnson opened #5299 "constrain domain and overlaying axes"
See https://github.com/plotly/plotly.js/pull/5287#discussion_r528232359

In principle we could allow this as long as only one of the overlaying axes has a constraint on it. If multiple have constraints there may be some situations where it would still be possible (but complicated) to satisfy all the constraints, but there would be other situations where this becomes self-contradictory. The easy th

[2020-11-22 10:46] jleaves commented on #5259
Sorry for the late reply.

I was trying to plot [shapes](https://plotly.com/python/shapes/) with different colors. Each polygon (`plotly.graph_objects.Scatter.fillcolor`) comes with a numeric property which I want to illustrate by the "fill" color. Furthermore, the common boundary of two polygons (`plotly.graph_objects.Scatter.line`) also has a numeric property which I want to illustrate (now mayb

[2020-11-22 18:47] vwas2 commented on #2155
@sleighsoft try this:
[code]

![image](https://user-images.githubusercontent.com/52429424/99914068-589c8c00-2cfb-11eb-985d-118e4ca5a691.png)

what bugs me is: how to disable the hover box on the chart; and always show the outer axis box with the coordinate of the cursor (not data point)?

[2020-11-23 16:09] wald-tq opened #5300 "Correct license comments in prebuilt libraries"
I am using the file `plotly.js/dist/plotly-basic.js` and I found that the copyright and license information for d3 is missing.

So everybody who is using plotly is probably violating the terms of the d3 License.

My suggestions:
* add the license strings to the build output in a format that is respected by webpacks extractComments: https://webpack.js.org/plugins/terser-webpack-plugin/#extractcomme

[2020-11-24 11:17] silviubogan commented on #5243
PTAL and help me solve this issue. Is it an issue in `@loadable/component`?

[2020-11-24 11:41] silviubogan commented on #5243
It seems that after commenting all the other loadable.lib calls in the message above, from these remaining two:

[code]

The first one alone does not produce the error with `fs`, but when uncommenting the second one, the error is there. What could be the issue? Is it a Loadable issue?

Thank you.

[2020-11-24 12:48] NixTheMan commented on #2719
@Rapster what library did you end up using? As I am hitting a wall with #2216 ass well

[2020-11-24 19:44] archmoj opened #5301 "Not enough pad for tickangle -90 on the left side or with tickangle 90 on the right side"
[codepen](https://codepen.io/MojtabaSamimi/pen/NWRKRYe?editors=0010)

[2020-11-24 19:45] archmoj commented on #5301
This would be fixed in #5275.

[2020-11-24 19:53] archmoj commented on #5301
Here:
https://github.com/plotly/plotly.js/blob/f7baf5d2f3f2e960fca95460a2a119977db8c6f0/src/plots/cartesian/axes.js#L2594
instead of 0.5 here for those particular `tickangle` and `side` pairs, one should use `CAP_SHIFT`.

[2020-11-25 03:49] dicengine commented on #4509
I realize this isn't exactly a triangulation (or mesh) plot, but the contour trace type can be used for scattered data in 2D much in the same way as I think you intend to. Example: https://stackoverflow.com/questions/24313761/d3-js-3d-array-interpolation
The data does not have to be in grid format. The documentation states that the x and y parameters of a contour plot "set the x (or y) coordinates

[2020-11-25 17:09] appukuttan-shailesh commented on #5054
I was wondering if there is some work around to my original problem?

Is it possible to have ellipsis to shorten the text? The problem with trying to do this manually (cropping the length) is that the cropping can result in different labels being converted to identical representations (e.g. [LongText_Model_A, LongText_Model_B] -> [LongText_Mo, LongText_Mo] based on the cropping length. As it has t

[2020-11-26 03:27] BJWiley233 commented on #98
For R as well too.

[2020-11-26 15:24] nicolaskruchten commented on #5095
@alexcjohnson is this resolved in #5287 ?

[2020-11-26 18:56] nicolaskruchten opened #5303 "selected portions of bars or markers"
Sometimes a single mark represents some aggregation of values, and `selectedpoints` isn't enough to express that "some portion of the mark is selected". It's often less appropriate to create a separate trace to represent the unselected portion.

[2020-11-26 21:11] DimaDDM commented on #4530
+1

[2020-11-26 21:12] SnowNooDLe opened #5304 "Uncaught TypeError: Cannot read property 'match' of null when clicking any options in the ModeBar"
[code]

I am using react-plotly.js for our project. (in React)

I haven't modified much on this ModeBar (image below)

![image](https://user-images.githubusercontent.com/7849113/100391239-b7fdf180-3097-11eb-9e08-80a02099c51a.png)

Added only two configs to the ModeBar

[code]
It doesn't always happen but time to time, by clicking one of the options from the ModeBar, it still does the job without c

[2020-11-26 22:24] antoinerg opened #5305 "Add support for fast image rendering on any linear axes"
At the moment, `image` trace will only get fast rendering if axes are compatible as per:
https://github.com/plotly/plotly.js/blob/f7baf5d2f3f2e960fca95460a2a119977db8c6f0/src/traces/image/plot.js#L34

However, `compatibleAxis` here is a bit too strict since there's no reason we couldn't support both reversed and normal linear axes:
https://github.com/plotly/plotly.js/blob/f7baf5d2f3f2e960fca95460a

[2020-11-26 23:23] antoinerg opened #5306 "Provide meaningful event data when selecting on categorical axis"
At the moment, selecting on a `violin` (https://codepen.io/antoinerg/pen/zYKYPJm) will return something like:
```{"points":[],"range":{"x":[-0.15808588956446767,0.0660170217422351],"y":[29.628827655641132,98.73675064839378]}}```

This is really hard for the consumer of those events to do anything useful with them. At the very least, we should provide the mapping between categories and numbers so t

[2020-11-26 23:34] archmoj commented on #5301
Also encountered a similar issue on the x-axis which is now addressed in #5275.

[2020-11-26 23:38] archmoj commented on #5301
[Codepen](https://codepen.io/MojtabaSamimi/pen/bGwGYJW?editors=0010) illustrating the bug.

[2020-11-27 11:15] rkube commented on #4503
+1 on this issue. It's very important to have equal contourlevels among different plots when comparing 2d time series data.

[2020-11-27 17:04] archmoj commented on #5291
Fixed by #5302.

[2020-11-27 17:04] #5291 closed

[2020-11-27 17:08] archmoj commented on #5304
Thanks for the report.
@SnowNooDLe could you provide a minimal demo please?
You may simply start by forking [this codepen](https://codepen.io/MojtabaSamimi/pen/yrMxEV?editors=0010).

[2020-11-28 05:24] SnowNooDLe commented on #5304
@archmoj Hey, thanks for the comment and I briefly created one
[Plotly Demo](https://codepen.io/SnowNooDLe/pen/OJRPPqQ)

Pretty much structure is same, except less data as we pull data from API
And it doesn't happen here so perhaps I could link the video if it's okay?
(The video will probably show only part of the screen, E.g. plotly.js and console and show what happens when I click the options in

[2020-11-28 05:37] SnowNooDLe commented on #5304
@archmoj Hey, in case you want to watch it.
[YouTube - Video Demo](https://youtu.be/2-4mXoaiTBY)

[2020-11-30 18:39] zoryamba opened #5309 "plotly_beforehover event doesn't work on 3d plots"
Hi. I want to lock hover tooltip on some point. It's easy to achieve with plotly_beforehover event.
https://codepen.io/zoryamba/pen/XWjbNKr

But it doesn't seem to work on 3d plots
https://codepen.io/zoryamba/pen/KKgpgOx

Can't find anything related to this in issues. Also there are few mentions about this event in docs. Maybe the same effect could be achieved in another way?

Thanks.

[2020-11-30 19:39] archmoj commented on #5304
If it could not be replicated in codepen, then maybe it's not a `plotly.js` bug.

[2020-11-30 20:18] zgirson opened #5310 "[Feature Request] Allow setting the go.Parcats() rectangle/box stroke color and width (the infamous black border)"
Using go.Parcats() gives rectangles that have a black border/stroke.  If it's not already possible, can we gain the ability to adjust this?  I'd like to make mine white... the black border is truly an eyesore.   The classes are stroke-width and stroke.

Perhaps allowing us to alter this with css if it's not possible to add a kwarg to go.Parcats.layout?  I tried adding css for .rect, .bandrect and

[2020-11-30 22:08] alexcjohnson commented on #5095
Good call @nicolaskruchten - This is indeed resolved by #5287 🎉 I can reproduce the issue on the latest release (eg at https://rreusser.github.io/plotly-mock-viewer/) but if I build off master the autorange is done correctly.

@kricka91 we expect make a new release this week including this fix.

[2020-11-30 22:08] #5095 closed

[2020-11-30 22:24] #5305 closed

[2020-12-01 02:15] ayourk commented on #1532
This is how I'm handling it in JS at the moment:
`      function zeropad(num, maxsize) {
        var s = num+"";
        var size = (maxsize+"").length;
        while (s.length < size) s = "0" + s;
        return s;
      }

      function DateJSON2plotly(jsdate) {
        var td = new Date(jsdate);
        var dateStr = "" + td.getUTCFullYear() + '-' + zeropad(td.getUTCMonth(),10) + '-' + zeropad

[2020-12-01 10:58] mdouchin commented on #4817
+1 for the ability to let the 1st slice go "the right way", ie from right (angle 0) to the left (ex angle -20) when going anticlockwise.

[2020-12-01 11:09] DaniMori commented on #4817
Yes, I created that issue in the `ropensci` repo myself. The problem is that the behavior is not as expected when I turn traces off.

[2020-12-01 14:04] nicolaskruchten commented on #4817
This makes sense and we'd certainly accept a pull request that added a new attribute to `pie` traces to control the placement of the first slice to make it work more similarly to something like Excel :)

This attribute could be called e.g. `firstslicedirection` with accepted values `forward` and `reverse` (defaulting to `reverse` to preserve the current behaviour for existing users).

[2020-12-01 15:10] Argee88 opened #5311 "Bug: Zoom behaviour when dragging with right mouse button held down"
When having zoom enabled, I can use the left mouse button to drag a box around the area of interest and get a zoomed in version of my graph.

However, when I'm doing the exact same action with not the left mouse button held down, but the right mouse button held down there should not be any zoom applied. The current behaviour is, that I drag with the right mouse button held down, no box is drawn, b

[2020-12-01 15:41] DaniMori commented on #4817
Would this affect also a "clockwise" pie chart? If so, defaulting to `reverse` would imply that the first slice would go "counterclockwise", instead of "clockwise" (i.e. forward) as it is now.

If it helps clarifying it, please consider the accepted values `clockwise` and `counterclockwise` instead.

[2020-12-01 16:09] nicolaskruchten commented on #4817
I think that it's more flexible/orthogonal to support forward/reverse with respect to the existing `direction` attribute, so if `direction` is `clockwise` then the `reverse` `firstslicedirection` means "counterclockwise" and vice-versa.

[2020-12-01 20:19] Erhannis commented on #147
Is there a reason this feature is difficult to implement?  Speaking specifically of color arrays, I notice that scatter3d accepts arrays for line.color - what makes scatter harder/different?

[2020-12-01 20:39] nicolaskruchten commented on #147
At the moment, I believe that for SVG-based traces (i.e. `scatter`) the line is a single SVG path, but for WebGL-based traces (i.e. `scatter3d`) each line segment is drawn separately, which is one reason why this is harder to implement for `scatter`.

[2020-12-01 21:18] SnowNooDLe commented on #5304
Thanks for checking it tho, I will keep an eye on this and see how this goes.

[2020-12-01 21:18] #5304 closed

[2020-12-02 07:21] DaniMori commented on #4817
Ok, I think I missunderstood, it's clear now. I'd also like to ask, is there any reason for not using a boolean (e.g. `reversefirstslice = false/true`) instead?

[2020-12-02 09:53] lothas opened #5312 "Plots are initially displayed with a wrong margin in Chrome"
I'm working on a web-app that should run in desktop and mobile. I've tested the app in Firefox and Chrome and noticed that the width (or right margin) of the plot is wrongly initialized.

The problem: The plot is too big when the page is initially loaded. After resizing the browser (responsive layout), the plot is updated and suddenly fits the screen properly.
I've added a `restyle` call to my scr

[2020-12-02 12:57] nicolaskruchten commented on #4817
That would be fairly equivalent, yes.

[2020-12-02 15:33] ggirelli commented on #98
Up!

[2020-12-02 15:45] sedenardi commented on #2355
FYI, injecting CSS that violates our CSP is a deal-breaker for our site.

[2020-12-02 17:31] Erhannis commented on #147
Hmm.  Is there a clear thing-to-do, it's just hard or time consuming?  Or is it a problem with no clear solution?  For instance, from your description it sounds like the thing-to-do would be to alter the SVG code to make multiple paths when there are multiple colors.  Is that highly inefficient or something?

[2020-12-02 19:04] nicolaskruchten commented on #147
There's a mix of both: it's a big change to our codebase, and it's probably a lot less efficient than the current approach, so might require a lot of optimization work in order not to introduce performance regressions.

[2020-12-02 19:07] beautah commented on #5296
I've come up with this as a python workaround, could be easily adaptable to js.

lats and longs are lists of all the coordinates.

`

    zoom_lat = abs(abs(max(lats)) - abs(min(lats)))

    zoom_long = abs(abs(max(longs)) - abs(min(longs)))

    zoom_factor = max([zoom_lat,zoom_long])

    if zoom_factor < 0.002:

        zoom_factor = 0.002

    auto_zoom = -1.35 * math.log(float(zoom_factor)) +

[2020-12-02 22:58] #5186 closed

[2020-12-02 22:58] #5262 closed

[2020-12-02 22:58] #5301 closed

[2020-12-03 00:03] Erhannis commented on #147
Hmm.  Could you rejigger the webgl code to do it, as a stopgap measure?  In the meantime, I've found a vaguely acceptable workaround: aligning a `scatter3d` plot to look like a 2d plot.
[code]
Do you notice any problems with it?  (Aside from that you can't change the viewpoint, and the hover-over shows an extraneous "z" coord.)  Also, is there a way to zoom in a bit, programmatically?  I didn't fi

[2020-12-03 10:23] bishonen commented on #4459
Did 1.58.0 truly fix this issue? I still have disappearing y-axis labels on a resize of a bar chart.

<img width="474" alt="image" src="https://user-images.githubusercontent.com/11603939/100996897-ed07b980-3559-11eb-8223-56dd7cc4314a.png">

which looks like this on first render:

<img width="467" alt="image" src="https://user-images.githubusercontent.com/11603939/100996962-03157a00-355a-11eb-8c65-

[2020-12-03 11:07] archmoj commented on #4459
Could you please share a minimal codepen?

[2020-12-03 11:10] bishonen commented on #4459
Doesn't the link in the post work (https://angular-ivy-vx2jrb.stackblitz.io/)? The issue seems to be 1:1 the same as in the example of the screenshot. When resizing the browser, the labels simply disappear, which is not the case in e.g. 1.44.4.

[2020-12-03 13:17] archmoj commented on #4459
Not clear to me. Please fork and modify [this codepen](https://codepen.io/MojtabaSamimi/pen/yrMxEV?editors=0010) then open a new issue.

[2020-12-03 13:24] archmoj commented on #5096
@antoinerg as you worked on a similar issue recently, do you think we should close this issue or if we could do better?

[2020-12-03 13:30] archmoj commented on #5102
Thanks this is now fixed in [v1.58.0](https://github.com/plotly/plotly.js/releases/tag/v1.58.0) by #5237.

[2020-12-03 13:30] #5102 closed

[2020-12-03 13:51] archmoj commented on #4299
The problem appear to be related to computing the size of multi-line text.
Here is a [minimal codepen](https://codepen.io/MojtabaSamimi/pen/abmdOKb?editors=0010).

[2020-12-03 14:01] archmoj commented on #4350
How does this problem look like after [v1.58.0](https://github.com/plotly/plotly.js/releases/tag/v1.58.0)?
cc: #5237

[2020-12-03 14:03] zyzhu commented on #4459
I see the same problem. The repro https://stackblitz.com/edit/angular-ivy-r3w5lj uses 1.58.0. If you resize the window, the labels still disappear.

[2020-12-03 14:07] archmoj commented on #4459
Ues `1.57.0` in the `package-lock`?
Again why not making a minimal codepen to help us debug?

[2020-12-03 14:10] zyzhu commented on #4459
Sorry for the confusion. The repro above uses CDN module in app.module.ts. I've removed 1.57.0 from package.json to avoid confusion
[code]

[2020-12-03 14:12] archmoj commented on #4155
Is this still happening if you use `v1.58.0`?

[2020-12-03 14:18] archmoj commented on #4459
@zyzhu no problem.
Is [this codepen](https://codepen.io/MojtabaSamimi/pen/JjRGYNW?editors=0010) work for you?

[2020-12-03 14:20] zyzhu commented on #4459
Yes. I just did the same on codepen. It works just fine. I don't know why it does not work under the same version via angular-plotly.

[2020-12-03 14:27] zyzhu commented on #4459
Another observation, this codepen repro https://codepen.io/zyzhu/pen/eYdJpKz uses 1.57.0 and with responsive config. Labels also do not disappear when I resize window. But the repro above using angular's CDN module loading 1.57.0 and 1.58.0 both show the problem.

[2020-12-03 14:31] archmoj commented on #4459
Thanks for the investigation. So that is basically not related to this bug report. Right?

[2020-12-03 14:33] zyzhu commented on #4459
To be precise on the version that started this problem, the repro https://stackblitz.com/edit/angular-ivy-r3w5lj using CDN module loading version <= 1.54.4 has no problem. Labels start to disappear since 1.54.5 till 1.58.0.

[2020-12-03 14:39] archmoj commented on #4459
Here is the changelog for [v1.54.5](https://github.com/plotly/plotly.js/releases/tag/v1.54.5).
If you are sure that `v1.54.5` caused the problem, it should be possible to investigate which PR.

[2020-12-03 15:05] Erhannis commented on #5270
I think the problem is that the `div`'s height wraps to its contents.  If I open the debugger and set `height` to `100%` on the plot div, and every element above it (back up to and including `<html>`), the plot does resize height.

[2020-12-03 15:37] nicolaskruchten commented on #4350
What would you expect the change to be? I thought that to fix this we would need https://github.com/plotly/plotly.js/issues/5246 ?

[2020-12-03 17:15] alexcjohnson commented on #4459
A few more observations: in that stackblitz the "common" hover label (the black one on the x axis) is broken - just shows an empty box that looks like an arrow, rather than the category name (`giraffes`) it's supposed to have:

<img width="149" alt="Screen Shot 2020-12-03 at 11 49 15 AM" src="https://user-images.githubusercontent.com/2678795/101061007-090d5a00-355e-11eb-8040-1c9dc52e6775.png">

An

[2020-12-03 18:10] bishonen commented on #4459
Alexc, this is EXACTLY what I'm seeing on my end with the bar charts posted above! I have exactly the same disappearing label when hovering (in my case, showing: '{value}, ' [1]). When double clicking, the y-axis labels disappear completely.

I am using react, though, not angular. So if there's an issue with the angular-plotly.js, I reckon the same applies to react-plotly.js

<img width="142" alt=

[2020-12-03 18:23] alexcjohnson commented on #4459
Yes, we've also now seen this in a react environment. We still need to figure out how to reproduce it with no framework (ie a codepen) in order to pin down what's causing it, so if anyone has any insights there please share!

[2020-12-03 20:57] archmoj commented on #4350
Confirmed by @wbrgss that this issue is now now fixed after [v1.58.0](https://github.com/plotly/plotly.js/releases/tag/v1.58.0) by #5237.

[2020-12-03 20:57] #4350 closed

[2020-12-04 05:02] MarcSkovMadsen commented on #5270
Thanks. I can see adding height 100% is the solution. Thanks

[2020-12-04 05:02] #5270 closed

[2020-12-04 11:08] dmbarry86 opened #5314 "Plot sizing issue in 1.58.0 release"
The 1.58.0 release yesterday has changed (broken) some sizing behaviour we have in bullet charts. It appears that heights are not correct.

In releases prior to 1.58.0 we had a plot which looked like this:
![image](https://user-images.githubusercontent.com/8976377/101156279-44705d00-3620-11eb-999a-983589c0b576.png)

When updating to 1.58.0 the same plot code now looks like this:
![image](https://u

[2020-12-04 12:25] archmoj commented on #5314
Thanks for the report and clear codepen.
It could be also replicated even without `react`.
So here is [the minimal codepen](https://codepen.io/MojtabaSamimi/pen/zYKrJba?editors=1010).

[2020-12-04 15:43] vemikhaylov opened #5316 "[BUG] Candlestick chart is not cleared properly when updated with callback"
**Describe your context**
Please provide us your environment so we can easily reproduce the issue.

-  replace the result of `pip list | grep dash` below
[code]
-  if frontend related, tell us your Browser, Version and OS

    - OS: macOS Mojave 10.14.5
    - Browser: Safari (12.1.1); Chrome (87.0.4280.88)

**Describe the bug**

During updating with callback `Candlestick` charts for different time

[2020-12-04 16:20] #5314 closed

[2020-12-04 19:17] archmoj commented on #4459
Here is [a codepen using react](https://codepen.io/MojtabaSamimi/pen/JjRGQjY?editors=0010) which seems to be working fine.
@bishonen @zyzhu could you replicate the problem in a similar codepen?

[2020-12-04 20:11] zyzhu commented on #4459
I've tried 1.58.1 via plotly-angular. The problem is still there if you resize window or double click the chart.
https://stackblitz.com/edit/angular-ivy-r3w5lj

[2020-12-04 20:27] archmoj commented on #4459
Thanks for testing with v1.58.1. I didn't expect v1.58.1 to fix it BTW.

[2020-12-04 20:32] nicolaskruchten commented on #4459
@archmoj in your pens, resizing the window doesn't resize the chart... can you try that to see if you can replicate?

[2020-12-04 20:43] archmoj commented on #4459
@nicolaskruchten
Strangely
[the simple codepen](https://codepen.io/MojtabaSamimi/pen/JjRGYNW?editors=1000) does resize; but
[when using react](https://codepen.io/MojtabaSamimi/pen/JjRGQjY?editors=1000) config doesn't do anything?

[2020-12-04 20:53] dmbarry86 commented on #5314
Thanks for the quick fix @archmoj. I have just tested 1.58.1 release and can confirm the issue is now resolved 👌

[2020-12-04 21:00] archmoj commented on #5314
dmbarry86
Thanks for your report and clear codepen!
AS a side note I noticed you added `axis` to the trace but it is not used as it should  be in `gauge` object similar to https://github.com/plotly/plotly.js/blob/master/test/image/mocks/automargin-narrow-indicator.json

[2020-12-04 21:07] archmoj commented on #4459
@dmbarry86 wondering if you could possibly replicate this issue in a codepen?
https://github.com/plotly/plotly.js/issues/4459#issuecomment-739009300

[2020-12-04 21:28] dmbarry86 commented on #5314
Thanks for pointing that out. I have just double checked our actual component code and axis is correctly part of the gauge object. Whilst stripping down our component code in to a codepen example I think axis got misplaced.

[2020-12-04 23:51] dhakim87 opened #5317 "Automatic Determination Of X Axis With 1 Bar Plot and 1 Line Plot"
When I make a line plot and a bar plot on the same page, both show if the bar plot comes first, but only the line plot shows if the bar plot comes second.  This appears to be due to how x axis is set on the second plot:

If bar plot is first:

- Sets categorical for plot 1
- Switches to cartesian for plot 2

If line plot is first

- Sets cartesian for plot 1
- Stays with cartesian for plot 2, even

[2020-12-05 00:07] dmbarry86 commented on #4459
@archmoj I've had a bit of a play around with a core plotly codepen (https://codepen.io/dmbarry86/pen/BaLKBmR) and a react plotly codepen (https://codepen.io/dmbarry86/pen/VwKaZqa) but am unable to replicate in either sorry. My react codepen does autoresize with window resizing though. I think you were missing style (never have quite understood why this is required TBH).

The only place where I ca

[2020-12-05 00:16] dhakim87 commented on #5317
Argh.  The call to newPlot modifies the layout parameter object and adds an xaxis field.  My misunderstanding of the api - if modification of the layout argument to Plotly.newPlot is an intended side effect, close this ticket.  Otherwise bug could likely be fixed by a defensive copy of the layout argument.

[2020-12-05 00:36] archmoj opened #5318 "tick labels missing after interacting with plot from angular-plotly"
@archmoj I've had a bit of a play around with a core plotly codepen (https://codepen.io/dmbarry86/pen/BaLKBmR) and a react plotly codepen (https://codepen.io/dmbarry86/pen/VwKaZqa) but am unable to replicate in either sorry. My react codepen does autoresize with window resizing though. I think you were missing style (never have quite understood why this is required TBH).

The only place where I ca

[2020-12-05 00:38] archmoj commented on #4459
Thanks tracked the angular issue in #5318.
Closing the ticket as the original bug report is addressed.

[2020-12-05 00:38] #4459 closed

[2020-12-05 16:02] sandro-sikic opened #5319 "[BUG] layout axis type: 'date' throws built in error on default example"
https://codepen.io/SandroIT/pen/BaLKQgm

version: "1.58.1"

This issue breaks modebar functionality.

![image](https://user-images.githubusercontent.com/38315243/101247527-06ebfc80-3712-11eb-9e74-2cd2248efbfa.png)

[2020-12-05 16:47] archmoj commented on #5319
I was not able to replicate.
Could you use unminified bundle in the codepen and paste the error again?

[2020-12-05 23:39] sandro-sikic commented on #5319
[Unminified codepen version](https://codepen.io/SandroIT/pen/rNMezvz)

[U can try this one as well.](https://plotly.com/javascript/configuration-options/#double-click-delay)

Error triggers when it tries to load data.
U can trigger the error manually by panning the graph.

Here's the function that throws the error.

[code]

[2020-12-05 23:47] archmoj commented on #5319
Thanks. Could you please test if you get a similar error using previous versions e.g. 1.58.0?

[2020-12-05 23:57] sandro-sikic commented on #5319
[Version 1.58.0 CodePen](https://codepen.io/SandroIT/pen/poEyrQR)

[Version 1.57.1 CodePen](https://codepen.io/SandroIT/pen/OJRNjrJ)

I'm clueless, this was working before. Unfortunately I lost a version of the working demo code I had from a month ago.

[2020-12-06 01:55] bishonen commented on #5318
I tried recreating this issue with a clean create-react-app, but am unable to do it with a simple example of a plain bar chart (plotly.js 1.57.1). The same version of plotly.js, do give me the same disappearing labels during resizes of the element in which the <Plot> is rendered in a real app (with dozens of dependencies, data coming from api's etc. making it hard to recreate on codepen).

I can c

[2020-12-06 02:14] archmoj commented on #5319
Do you get any error in those versions?
If so, please set `width` and `height` in `layout` so that we know we are viewing the same graph.
Thanks!

[2020-12-06 02:18] archmoj commented on #5318
It could be.
@bishonen could you try this bundle
https://95855-45646037-gh.circle-artifacts.com/0/dist/plotly.js ?

which is of this dev branch: https://github.com/plotly/plotly.js/compare/debug-5318

[2020-12-06 02:36] archmoj commented on #5318
@bishonen please also test this bundle too:
https://95864-45646037-gh.circle-artifacts.com/0/dist/plotly.js
Thanks!

[2020-12-06 03:17] archmoj commented on #5312
Thanks for the report.
Seems like a Chrome bug to me.
Here is a [codepen](https://codepen.io/MojtabaSamimi/pen/xxEVXBv?editors=0010).
Should refresh few times to see the problem with the right margin.
It might be related to loading the fonts & computing bounding boxes for the text.

[2020-12-06 13:41] sandro-sikic commented on #5319
[Version 1.56.0 CodePen](https://codepen.io/SandroIT/pen/eYdZKej)
[Version 1.57.1 CodePen](https://codepen.io/SandroIT/pen/OJRNjrJ)
[Version 1.58.0 CodePen](https://codepen.io/SandroIT/pen/poEyrQR)
[Version latest CodePen](https://codepen.io/SandroIT/pen/rNMezvz)
[Version latest minified CodePen](https://codepen.io/SandroIT/pen/BaLKQgm)

I've updated the layout code for all the examples.
This exce

[2020-12-06 23:51] bharatkrishna opened #5320 "[Feature Request] Have a way to enable text selection on plots"
This is with reference to [this post](https://community.plotly.com/t/selecting-copying-axis-label-text-and-table-cell-contents/47805) on plotly forums and this discussion on [this pull request](https://github.com/plotly/plotly.js/pull/5165).

The pull request [5165](https://github.com/plotly/plotly.js/pull/5165) disabled text selection on plots without giving a way to enable them via configuration

[2020-12-07 13:19] lothas commented on #5312
Thanks @archmoj. I tried the codepen but it doesn't work for me (the plot is displayed but it's not responsive).

[2020-12-07 15:36] nicolaskruchten opened #5321 "strange ticklabelposition behaviour"
In this pen: https://codepen.io/nicolaskruchten/pen/PoGzzbK

1. the x range doesn't leave room for the y labels so they overlap the data
2. the y range expands seemingly more than necessary for the x labels

[2020-12-07 15:41] nicolaskruchten commented on #5321
Looks like for the y labels / x range, we don't leave any space when `mode="lines"`

[2020-12-07 15:44] nicolaskruchten opened #5322 "ticklabelposition inside with bars"
Seems like we don't alter x range for y labels when the trace is a bar? https://codepen.io/nicolaskruchten/pen/bGweeoM

[2020-12-07 15:44] nicolaskruchten commented on #5322
See also https://github.com/plotly/plotly.js/issues/5321

[2020-12-07 15:58] nicolaskruchten commented on #5321
the two-line labels here should be top-aligned with each other so the months all read straight across

[2020-12-07 16:06] archmoj commented on #5321
Only on the x-axis when `side` is *bottom*?

[2020-12-07 16:21] alexcjohnson commented on #5321
Good point - same thing happens when `ticklabelposition` is the default `outside` and `side` is `'top'`. I'd consider it a bug in both cases.
![Screen Shot 2020-12-07 at 11 21 21 AM](https://user-images.githubusercontent.com/2678795/101376252-5a7b5900-387e-11eb-8bed-b307d81196e1.png)

[2020-12-07 16:28] archmoj opened #5324 "x-axis second line date formatting edge case"
Good point - same thing happens when `ticklabelposition` is the default `outside` and `side` is `'top'`. I'd consider it a bug in both cases.
![Screen Shot 2020-12-07 at 11 21 21 AM](https://user-images.githubusercontent.com/2678795/101376252-5a7b5900-387e-11eb-8bed-b307d81196e1.png)

_Originally posted by @alexcjohnson in https://github.com/plotly/plotly.js/issues/5321#issuecomment-740022620_

[2020-12-07 16:31] archmoj commented on #5324
Should we follow similar pattern on y-axes with `tickangle` = +/-90?

[2020-12-07 16:55] alexcjohnson commented on #5320
Perhaps the cleanest way to do this would be with a new modebar icon and a new `dragmode`, that when chosen disables all zooming / panning / selecting and removes the `user-select: none` CSS - effectively making the plot temporarily static so you can select text, then when you're done you can go back to one of the other dragmodes.

[2020-12-07 18:42] andrew-saydjari commented on #5158
This problem persists for me in Safari 14.0.1 (16610.2.11.51.8) and MacOS 11.0.1 BigSur. It also interferes with PollEverywhere rendering the html in powerpoint presentations.

[2020-12-07 21:05] antoinerg commented on #5096
I think we can close the current issue in favor of https://github.com/plotly/plotly.js/issues/4885 . Unfortunately, fixing the way quotes are managed won't be enough to get custom fonts to render. You can find the reason/explanation why that is in https://github.com/plotly/plotly.js/issues/4885#issuecomment-727070831 .

[2020-12-07 21:45] hwalinga commented on #5096
No, this issue is unrelated to using custom fonts or not.

It has to do with the way that plotly handles quotation when creating the SVG. My work around proofs that it works as expected if you omit the quotes. Also, this issue already happens even with the *default* fonts specified by plotly (because the default font for plotly is Open Sans). So, even if you don't touch fonts at all, Plotly fails

[2020-12-07 22:17] #5321 closed

[2020-12-07 22:17] #5322 closed

[2020-12-08 08:49] jmriyaz84 opened #5327 "Issue while displaying negative numbers , minus symbol getting displayed as strange character"
In our graph y values may have negative numbers , but those negative numbers getting displayed as special characters.

Please help us on this.
<img width="813" alt="negative-issue" src="https://user-images.githubusercontent.com/8514576/101461014-c2e83a00-3953-11eb-8149-8d23e870532c.PNG">

[2020-12-08 09:49] archmoj commented on #5327
Which font are you using?

[2020-12-08 16:04] #5324 closed

[2020-12-08 16:34] ndrezn commented on #4789
Curious whether there are any updates on this issue

[2020-12-08 19:09] nicolaskruchten opened #5328 "treemap regression since 1.58.0"
This code used to work: https://codepen.io/nicolaskruchten/pen/GRjqVWG

[2020-12-08 19:11] nicolaskruchten commented on #5328
[code]

[2020-12-08 19:29] simplenotezy commented on #2550
@nicolaskruchten Can you provide an example?

[2020-12-08 19:54] nicolaskruchten commented on #2550
Sure, https://codepen.io/nicolaskruchten/pen/WNGGerr?editors=0010 ... this figure has a specified x and y range and cannot be panned or zoomed.

[2020-12-08 20:34] bishonen commented on #5318
Sorry about a dumb question but how can I test this out in a react app? Can I replace poorly.js in the node modules just like that?

[2020-12-08 21:01] archmoj commented on #5328
The side effect of #5232.

[2020-12-08 21:30] #5328 closed

[2020-12-08 23:35] coolbud140 commented on #4992
Hi there,

Thanks for all the wonderful work!

Has there been any development on this issue? Polar contour plot is something very useful for what I'm working on.

Thanks

[2020-12-09 03:08] jmriyaz84 commented on #5327
Thanks Issue Resolved UTF-8 Issue

On Tue, Dec 8, 2020 at 1:49 PM Mojtaba Samimi <notifications@github.com>
wrote:

[2020-12-09 03:08] jmriyaz84 commented on #5327
Dear Team ,
Thanks for your response , issue resolved before my jsp page was using some other charset after changing to UTF-8 issue got resolved

[2020-12-09 03:08] #5327 closed

[2020-12-09 06:07] surya-factly commented on #59
@jaspersardonicus

That was helpful. As far as I understand, in python, we can provide those configuration options to

`
config = dict({'scrollZoom': False})
fig.show(config` = config)
`

I am using streamlit to show a plotly chart and cannot use the show() function, which opens the choropleth map in new window. Is there any other way we can set these config options.

Any help is appreciated. Than

[2020-12-09 15:27] sandro-sikic commented on #5319
Any updates on this issue?

[2020-12-09 16:11] archmoj commented on #5319
Still unable to replicate.
What is the last version of `plotly.js` that does NOT cause an error?
Please set width and height in layout so that we know we are viewing the same graph.
Thanks!

[2020-12-09 16:14] alexcjohnson commented on #5319
@sandro-sikic I'm afraid I also don't see any errors when panning any of the codepens you've posted above, using the latest Chrome, FF, and Safari on Mac. What browser and OS version do you have?

[2020-12-10 09:11] sandro-sikic commented on #5319
Thanks everyone for the feedback. The issue was caused by the **chrome extension** for changing time zones.

[2020-12-10 09:11] #5319 closed

[2020-12-10 12:26] fairking opened #5333 "Missing labels on the RangeSlider"
I searched the github and your docs but I cannot find any example with showing labels on the RangeSlider?

It would be nice to add some example to the https://plotly.com/javascript/range-slider/

![image](https://user-images.githubusercontent.com/13495631/101772179-eb526e80-3ae2-11eb-846b-e020f13459e1.png)

Thanks for any help.

[2020-12-10 12:47] fairking commented on #5333
Another missing thing I am looking for:
![image](https://user-images.githubusercontent.com/13495631/101774281-cca1a700-3ae5-11eb-99e5-0900390b95e9.png)

[2020-12-10 21:14] nicolaskruchten opened #5337 "tick / ticklabel mismatch with period positioning"
In this pen, you see that the tick and tick label are positioned oddly with respect to each other: https://codepen.io/nicolaskruchten/pen/yLaVVXa

[2020-12-10 21:15] nicolaskruchten opened #5338 "odd double-click behaviour with inside ticks"
In this pen https://codepen.io/nicolaskruchten/pen/MWjbbmj if you double-click repeatedly after first load, things seem fine.

If you then change the ranges somehow (pan, zoom, whatever) then double-clicking repeatedly alternates between two different sets of ranges.

[2020-12-10 21:18] alexcjohnson commented on #5337
That's as intended - the label has precision of 1 month so the offset is 1/2 month. dtick is 3 months, so the offset is 1/6 of the tick spacing.

[2020-12-10 21:21] alexcjohnson commented on #5338
Ah yeah, I've noticed that before - it's toggling between a range that includes the extra for the inside ticks and a range that doesn't. Thanks for noticing and recording this.

[2020-12-10 21:55] nicolaskruchten commented on #5337
Ah I see. Another way to look at it is that in this case the ticklabel is correctly centered but wider than the period it represents.

[2020-12-10 21:58] #5337 closed

[2020-12-11 12:22] valentinstn commented on #4914
Is there any update on this issue?

[2020-12-11 13:48] nicolaskruchten commented on #4914
This issue is going to be worked on in the next couple of months.

[2020-12-11 14:26] nicolaskruchten opened #5339 "Bar component todos"
Once this list settles a bit it'll be split out into separate issues. Note also that parts of this list will apply to all the 'charty' components

- [ ] title
- [ ] color
- [ ] wide-mode input?
- [ ] axis ranges?
- [ ] orientation
- [ ] barmode

[2020-12-11 14:39] valentinstn commented on #4914
Thanks @nicolaskruchten

[2020-12-11 14:44] #5290 closed

[2020-12-12 19:55] DaniMori opened #5341 "[Feature Requested]: Sunburst direction"
Similarly to the [Rotation or starting point](https://github.com/plotly/plotly.js/issues/4728), a `direction` argument (with values `"clockwise"` (by default) and `"counterclockwise"`) would be desirable.

[2020-12-14 07:40] minaee opened #5342 "margin is not working in update_layout"
I'm using Plotly to draw gauge charts in my Django project.

In `views.py`, I tried to update layout by setting margin for the graph like the following:

[code]
Although the left and right margins seem to work, the vertical margins won't disappear!

![Screenshot from 2020-12-14 11-08-41](https://user-images.githubusercontent.com/10369075/102053681-6080b500-3dfd-11eb-9194-6a9b6b0211bd.png)

this is

[2020-12-14 11:06] ievgennaida commented on #1960
I would like to have an option to detect click on line, not even a data point on a line...

[2020-12-14 11:30] kvanderwijst opened #6552 "Showticklabels=false and title_standoff not None moves xaxis-title to top"
Very strange indeed.

[code]

produces:
![image](https://user-images.githubusercontent.com/863938/102076317-d5f18300-3e07-11eb-9166-8237638a2264.png)

[2020-12-14 15:22] archmoj commented on #897
Here is the complete list of function constructors and their dependency path from different bundles.
# dependency: d3
[code]

## at:
    file: d3/src/dsv/dsv.js
    func: dsv.parse
    line: var a = new Function("d", "return {" + row.map(function(name, i) {

| bundle    | impacted |
| --------- | -------- |
| basic     | yes      |
| cartesian | yes      |
| finance   | yes      |
| geo       | ye

[2020-12-14 16:50] AdamDorwart commented on #4729
@nicolaskruchten @archmoj

Is the above sufficient to replicate the issue? Just curious if this is getting planned in.

[2020-12-15 00:22] bmaranville commented on #5040
It looks like setting zmin and zmax achieves your goal, though I can't say why (not in the colorbar section though - in the root of the data section, i.e. at the same level as z).
[code]

[2020-12-15 05:59] CarlosAmaral opened #5343 "Time Actions Bar Plot"
Hi,

I was trying, without success, to plot a 24 hours (Y axis) time series plot that would display the time of actions in minutes (x axis - 0 to 60 min). Also if the action exceeded 1 hour (e.g. started at 01:00 and ended at 02:15, the data point would carry to the next X axis and consequently be connected. Please check the example below. I'd greatly appreciate help regarding this. Thank you.

![

[2020-12-15 10:47] datainvestor commented on #2145
@nmoreaud
This is something I'm looking for as well. Instead of having multiple tooltips separately for each of the values I need one textbox showing all the values in one place (this is useful when the chart has space boundaries and the values are being cut off). I wonder if this is possible here.

[2020-12-15 12:47] bzh2610 opened #5344 "Console error, "Excepted Number NaN" with LegendOnly attribute"
Hi,

I have a console error when I create a plotly graph.

Steps to reproduce :
• I create a new graph with the following properties in the data : ` showlegend: true, visible: "legendonly"`
• I add the `showline: true` attribute in the layout.

The graph is displayed correctly but I have a console error : `Error: <path> attribute d: Expected number, "MNaN,NaNVNaN".`

The bug only seems to appear w

[2020-12-15 12:48] itsmegopi2 commented on #4921
We are also searching for the same feature in Plotly.js.
Hope soon will get this feature :smiling_face_with_three_hearts:

[2020-12-15 14:16] alexcjohnson commented on #5344
Confirmed - thanks for the clear report @bzh2610 🎉

[2020-12-15 20:51] #5318 closed

[2020-12-15 21:12] wbrgss commented on #5318
@bishonen I think we managed to fix this in #5345; you may try https://97143-45646037-gh.circle-artifacts.com/0/dist/plotly.min.js if you'd like to test before the next Plotly.js release.

I was able to use a different build of plotly using the [Plotly Via Window Module](https://github.com/plotly/angular-plotly.js/blob/master/README.md#plotly-via-window-module) instructions in the angular-plotly.j

[2020-12-16 09:08] Koushikphy opened #5346 "Low precision of scatter3d plot"
I have this data that varies slowly in magnitude. If I plot this using Plotly's 2D `scatter` plot then it comes out okay, but get the following weired behaviour when I try to plot it using `scatter3d`. It seems `scatter3d` can't consider the slight change in value and plots it as a straight line with constant value.

Here's a sample script to generate the issue.
[code]
![Screenshot](https://user-i

[2020-12-16 15:54] nicolaskruchten commented on #5343
This sort of "wrapping" is not a feature of Plotly.js at the moment, so your upstream code will have to explicitly split the bars and model the wrapping.

[2020-12-17 13:33] patebel commented on #98
Would love to see that as well!

[2020-12-17 15:05] mmakrzem opened #5347 "subplots do not work correctly with visible: 'legendonly' plots"
I want to create a subplot similar to the first one shown in the documentation here: https://plotly.com/javascript/subplots/ with one important change.  When a user clicks on the legend to hide a trace, I don't just want to hide the trace line but still keep the plot axis and grid lines visible, I want to hide that as well.

I created this code pen that demonstrates the bug: https://codepen.io/mma

[2020-12-17 15:35] zyzhu commented on #5318
I confirm the problem is gone after upgrading to 1.58.3. Thanks for fixing this promptly.

[2020-12-17 18:45] mmakrzem opened #5350 "plotly_legenddoubleclick never fires if plotly_legendclick return false"
I would like to wire my own event handling when the legend is single clicked or double clicked.

I created the following demo: https://codepen.io/mmakrzem/pen/wvzdVaM

Notice that only the plotly_legendclick event triggers when I single or double click in the legend.  The plotly_legenddoubleclick event never fires (because the plotly_legendclick is returning false).

If I double click I also would

[2020-12-17 22:44] bhosaleanagha opened #5352 "Plotly Modal touchpad scroll works on chrome but does not work in mozilla"
I have used plotly historam. Upon clicking the histogram graph a modal opens. But when i try to open my webpage in chrome the modal touchpad scroll works fine. Whereas opening the webpage in firefox it shows modal with scrollbar. But the scrollbar is not touchpad scrollable.

Please guide!

[2020-12-18 13:23] almarklein opened #5353 "Rendering Image traces with bilinear interpolation"
This is a feature request to add support for bilinear interpolation for Image traces.

At the moment, the SVG `<image>` element sets a style element `image-rendering: crisp-edges` to produce nearest-neighbor interpolation. However, in some cases, linear interpolation is preferred, so it would be nice to support this.

My proposal is to:
* Add a new property `interpolate` which defaults to false (n

[2020-12-18 15:59] alexcjohnson commented on #5352
Thanks @bhosaleanagha - but I'm not quite sure what modal you're referring to. Can you post a screenshot and relevant code example? (ideally online like https://codepen.io/fkE3/pen/eYZOoPg?editors=0010)

[2020-12-18 20:34] ruijin commented on #2291
Created two PR to plotlyjs and regl

https://github.com/plotly/plotly.js/pull/5355
https://github.com/gl-vis/regl-line2d/pull/49

I am happy to help with any further testing, as long as this got fixed.

[2020-12-18 23:35] #5158 closed

[2020-12-21 06:46] ryani commented on #5259
I'm also interested in this feature. I'd like the lines to change color via something like the heatmap z component.  I'd actually prefer gradient lines (blending between the values at each point) but using the z value of the start or end point would be fine.

My use case is scatter lines representing 2d data over time, and I want the trail to fade out as the points get further in the past.

[2020-12-21 22:27] tdelmas commented on #897
@archmoj Here is the list of GitHub repository involved in the list you provided, with, when available, the issue and/or the PR about CSP:

- d3 (d3/src/dsv/dsv.js): https://github.com/d3/d3-dsv/issues/65 / https://github.com/d3/d3-fetch/issues/35
- es6-promise: shouldn't be a problem, the line https://github.com/stefanpenner/es6-promise/blame/f97e2666e6928745c450752e74213d2438b48b4c/lib/es6-promi

[2020-12-23 01:40] alexcjohnson commented on #5352
I'm sorry, I still can't tell what functionality you're referring to with this description. Is this modal something that plotly.js created? Or is it something you made in some other way inside the handler for a plotly.js event? We'll need some sort of reproducible code example - doesn't need to be your code, in fact it's better if it's pared down to the bare minimum required to demonstrate your is

[2020-12-23 20:58] cjacksudo commented on #4885
@antoinerg if the issue is downloading the font, shouldn't this pen work: https://codepen.io/cjacksudo/pen/yLazRRE?

I looked through the SO answer you linked (https://stackoverflow.com/a/42405731) and it seems like the setting the font-face rule to reference a data string should solve it, but it doesn't appear to...

[2020-12-24 02:12] rtwfroody opened #5360 "Plotly does not correctly redraw text items when updated through Plotly.react()"
1. Open https://codepen.io/rtwfroody/pen/OJRxdMy, and you'll see a graph with the points labeled "one", "two", and "three".
2. Hit the toggle checkbox, and the graph contents will change. Now only the first point is labeled. This is expected.
3. Hit the toggle checkbox again. The code returns the graph to the exact same data as it started with, but the 2nd and 3rd points have no labels.
4. No matt

[2020-12-26 02:54] alanpurple opened #5361 "[Request] Support Server-side rendering"
need mechanism for server-side rendering

for example, angular, they can inject DOCUMENT object for SSR, to component

plotly.js should handle build options like "--use_custom_documentObj"

[2020-12-26 16:52] mayeut opened #5362 "[Feature Request] Allow ordering items by value for unified x hovermode"
At the moment, it seems that order of items is hardcoded in the following line:
https://github.com/plotly/plotly.js/blob/4ce0c8bff1d80c0d17a91233883f883696ad8836/src/components/fx/hover.js#L1043

It would be great to allow ordering items by value for `unified x` `hovermode` as mentioned in comments https://github.com/plotly/plotly.js/issues/4477#issuecomment-590945637 and https://github.com/plotly

[2020-12-26 16:59] mayeut commented on #5362
Might mitigate #4786 in some cases (like the one showed above).

[2020-12-28 08:11] thierryVergult commented on #5341
Please note that a _sort_ (boolean) parameter was added recently to Sunburst trace. By setting that parameter to false, you can order the data at your end, in the direction desired.

[2020-12-28 15:59] alexcjohnson commented on #5360
Confirmed, thanks for the very simple, clear report @rtwfroody!
A couple of observations while playing with this: The problem appears when a text entry is `null` or an empty string `""` and then the point at the same index in the same trace is changed to have non-empty text. If instead you set the blank text entries to whitespace `" "` there's no problem. Also if the marker wasn't present in the f

[2020-12-29 19:14] rtwfroody commented on #5360
That work-around works great. I'd tried null and "" and then gave up. Thanks.

[2020-12-29 20:57] andrewhodel opened #5363 "Please add subresource integrity to your CDN links, thanks!"
https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity

Just to make it easier for us to not have to calculate them for each library.

[2020-12-30 15:48] cmcapone commented on #2026
I wanted to check in on this particular issue.
The one that is linked to it, [https://github.com/plotly/plotly.js/issues/2155](url) seems to handle the x and y lines without issue.
What seems to be missing is the data label on the Y-Axis.

Is there any current way to enable that?  It seems to work with scatter plots, but Not with Candlestick nor OHLC charts.
Scatterplot working example [https://gi

[2020-12-30 18:59] andrewhodel opened #5364 "Chart with a single line (or dataset) not showing the legend."
I am loading a simple object to a plot and it is not showing the legend name.

The "traces" object as it is called can be inferred from this console output, you can see in the promise result which is the result of the Plotly.plot promise that the "traces" object is absolutely intact throughout the promise chain.

[code]

Here is an image of this chart, showing the missing legend:

<img width="1220

[2020-12-30 22:17] alexcjohnson commented on #5364
That's right, by default the legend will only show if more than one trace would appear in it, because most of the time people don't want a legend for only one trace, they'll use the chart or y axis title for this instead. But you can override this default with `layout: {showlegend: true}`

[2020-12-30 22:59] andrewhodel commented on #5364
Thanks for taking a moment to think of something other than you work and
explain that.

Andrew

On Wed, Dec 30, 2020 at 4:18 PM Alex Johnson <notifications@github.com>
wrote:

[2020-12-31 14:05] #5364 closed

[2020-12-31 16:51] prodigeek commented on #4019
Is there a way to assign a single color to a column in this code? I have a large mekko with many individual stacks - I'd rather have each column have a single color. Any suggestions?
Thanks!

[2020-12-31 23:31] rlele5 commented on #2291
@ruijin , thanks for making the pull requests! I'm excited to try them out!

[2021-01-01 21:23] jackparmer commented on #1323
For visitors who are discovering this issue for the particular use case of displaying a molecular structure on hover, they may find these Dash molecule renderers useful in the meantime:

2d - https://dash.plotly.com/dash-bio/molecule2dviewer
3d - https://dash.plotly.com/dash-bio/molecule3dviewer
3d with ambient occlusion - https://dash.plotly.com/dash-bio/speck
3d based on NGL - https://github.com

[2021-01-02 16:53] masangster opened #5365 "Add "stackgroup" to Scattergl to enable stacked area plots as is now implemented for Scatter"
I tried to find an existing issue for this and didn't find anything that seemed to fit - however I am using plotly.py so not quite sure if this is an issue with its root in plotly.js or just the python interface...This being said, is there the possibility to use Scattergl with stacked area plots in the same way as with normal Scatter plots? Currently, the "stackgroup" keyword argument fails for Sc

[2021-01-02 17:08] tony commented on #452
I'd like an option to show/hide based on value as a callback. That'd be the true solution.

![image](https://user-images.githubusercontent.com/26336/103462130-cec3e380-4ce8-11eb-9369-444a6216521a.png)

I also believe another option would be to allow a callback to conditionally show the text based on its value (e.g. `label`, `value`, `percent`)

Thanks @meglio  @ https://github.com/plotly/plotly.js

[2021-01-02 17:24] tony commented on #452
Here's how I did it with @mdtusz's stuff in https://github.com/plotly/plotly.js/issues/452#issuecomment-212444484

[code]

It's not clear to me how to make the numbers appear on a newline like `label+value` did

![image](https://user-images.githubusercontent.com/26336/103462685-a76f1580-4cec-11eb-9394-846ce40a7afe.png)

[2021-01-02 21:33] tony commented on #3518
Could anyone here get a working version of plotly.js on code sandbox?

All versions of those are failing as well. (for the sake of demos on this project and others)

[2021-01-03 12:43] alexandergerber commented on #5277
I am  having the same issue. After some digging the problem could be tracked down to all plots which are using a `rect` with
`class="nsewdrag drag"` for the tooltips. This includes all plots using a cartesian coordinate system.

Other plots like Sankey diagrams are not affected.

The difference we found was that for  the plot where the problems exist the tooltips are not triggered by hovering over

[2021-01-04 15:25] jnehlmeier opened #5367 "IFrame issue: Can not integrate newest Plotly with GWT"
Hi,

I am unsure if you would consider it a bug, but at least for me it is a regression. I have been using very old Plotly 1.16.2 with GWT (gwtproject.org) just fine and thought about updating Plotly to 1.58.4. However when doing so, all charts are broken because Plotly 1.58.4 resets all layout configuration sections that are a plain javascript object, e.g. layout.xaxis.

The issue is that Plotly'

[2021-01-04 15:49] jnehlmeier commented on #5367
Interesting enough it seems like that `isPlainObject(obj)` also did this prototype check in 1.16.2. But given that 1.16.2 works fine in my GWT app when injecting Plotly into the root window, I must have been pretty lucky and never triggered a code path using `isPlainObject(obj)`!

So i digged a little further and it seems like this commit
https://github.com/plotly/plotly.js/commit/228965733f30b9dc

[2021-01-04 18:52] dbluhm commented on #5277
@alexandergerber to clarify, this is occurring within a ShadoDOM element and the behavior is not exhibited in normal "LightDOM" elements?

[2021-01-04 19:02] alexandergerber commented on #5277
@dbluhm Yes. I am trying to use plotly within a Web Components. Outside ShadowDOM elements it works correctly.

[2021-01-04 19:22] dbluhm commented on #5277
@alexandergerber does the codepen I shared also encapsulate your findings? If not, would you be able to provide one that does? I think that would help ensure we're looking at the same issue. It might also be interesting to try out changes from the (incomplete) PR I have open addressing this issue and seeing if that fixes the behavior you're seeing on the other graphs

[2021-01-04 19:40] nicolaskruchten opened #5369 "Icicle / Flame charts"
We could use a new trace type for [`icicle` charts](https://observablehq.com/@d3/icicle), basically sunbursts that aren't circular but instead grow either up (flame chart) or down (like physical icicles) or sideways (good for text!).

We'd want the API and capabilities (animation, uniformtext etc) to be very similar to `sunburst` and we might even want to grab the `pathbar` from `treemap`. We'll w

[2021-01-04 19:45] alexandergerber commented on #5277
I would say it is exactly the same issue. I checked out your pull request and can try if it fixes the problem for me.
When have tested your changes I'll report my findings.

[2021-01-04 23:01] alexcjohnson commented on #1405
Closing as #5151 is a more up-to-date duplicate

[2021-01-04 23:01] #1405 closed

[2021-01-04 23:08] alexcjohnson commented on #5367
We've discussed this - and the currently available workaround of creating a `window.process = {versions: 1};` in the environment where this will be executed - in #5151. And in #1405 (the same issue from a few years back) someone else mentioned the iframe case. Closing this one, but I'll add a comment to #5151 as I'm starting to think my earlier stance is a bit overly conservative.

[2021-01-04 23:08] #5367 closed

[2021-01-04 23:56] alexcjohnson commented on #5151
I'm starting to think it would be OK to just drop the second part of this test - again, the only concern is if someone passes in an object created with `new f()` or `new MyClass()`, which isn't possible for anyone coming in through JSON. It would be possible in Dash using a clientside callback, but you'd really have to work hard to do that! So for the most part this affects JS-only users - whether

[2021-01-05 08:12] jnehlmeier commented on #5367
Thanks, didn't found the mentioned issues in my initial search. Yeah adding `window.process` is probably the way I will go, since I don't want to create a custom build of plotly with modified `isPlainObject()`.

[2021-01-06 01:04] MRScheid opened #5374 "LaTeX/MathJax broken using Firefox v82.0"
Hi Plotly team, I just recently updated my firefox browser to version 84.0.1 and have been using plotly's (v4.14.1) subplots in Jupyter notebook (v6.0.3) with Python (v3.7.6) for a couple months now without issue.  I noticed that with this new version of the browser when I call something like:

[code]

The figures do not render properly and when I try to toggle the traces by clicking on the legend

[2021-01-06 02:51] alexcjohnson commented on #5374
Thanks @MRScheid - confirmed with FF84 on my Mac, at for example https://plotly.github.io/LaTeX-basics/

It looks like the LaTeX renders, but has some sort of bounding box error.

[2021-01-06 12:23] cgfoed commented on #4921
+1
Would be so great to have a similar functionality as in python

[2021-01-06 13:40] cgfoed commented on #4921
I solved it myself, here is the code if somebody is interested.
It's based on https://stackoverflow.com/questions/6195335/linear-regression-in-javascript
[code]

[2021-01-06 16:18] ssine commented on #4294
Hi there, I did some dirty [hack](https://github.com/plotly/plotly.js/compare/master...ssine:master#diff-188076a270403a2ac525da74cf049d3e109e7ba0c5b75d5ba471f1d52e138ac6) to get it work, feel free to use it at [my fork](https://github.com/ssine/plotly.js). I'll clean up the code and make a PR if that's the desired way to implement this.
preview:
<img src="https://user-images.githubusercontent.com/

[2021-01-06 16:43] archmoj commented on #4294
Sounds good.
Here are few questions/considerations before opening the PR.
Is `lodash` really needed there? Could you possibly replace it with `Lib.extendDeep` functions?
Kindly use ES5 syntax : )
Please do not to commit the dist folder.
Thank you!

[2021-01-06 16:55] ssine commented on #4294
I was just doing a quick & dirty hack to set up my grafana dashboard, do you think the way I implement this seems suitable for merging (without option to show the last point only like before)? If so, I will definitely clean up the code with consistent code style.

[2021-01-06 17:09] archmoj commented on #4294
Well. This tick is a feature not a bug. So I think it would be best to add a layout attribute to control this.

[2021-01-06 17:10] alexandergerber commented on #5277
We tested this and it seems not to work for our plots. It seems as there is an unhover event triggered if the mouse isn't moving.

[2021-01-06 17:15] ssine commented on #4294
Sure, maybe we need some discussion about naming? I can do this in the future when I have time.

[2021-01-06 17:29] bishonen opened #5377 "ERROR in ./node_modules/image-size/lib/index.js"
Plotly.js version: 1.58.4
Platform: mac bis sur

When upgrading plotly from 1.52.2 to 1.58.4 a new error appears when trying to run it in a react webpage:

[code]

Is there some new dependency which needs to be added?

[2021-01-06 17:44] archmoj commented on #5377
Duplicate of https://github.com/plotly/plotly.js/issues/5243, right?

[2021-01-06 17:48] magdyamr542 commented on #5277
unfortunately we also have the same problem. the unhover event gets fired even if the mouse is on the box or the bar.
that causes the tooltip to disappear of course and even if we used a custom tooltip we still depend on the unhover event fired from plotly to know when to hide the tooltip.

I have added here some screenshots from the code and hopefully someone can help fix this issue soon.

## the

[2021-01-06 17:54] archmoj commented on #5277
It seems working on [this codepen](https://codepen.io/MojtabaSamimi/pen/yLajqqX).
How did you test it?
Please provide a minimal codepen illustrating the problem.

[2021-01-06 18:03] magdyamr542 commented on #5277
it does not work as expected in the codepin that you sent me either. the tooltip disappears frequently even if iam still on the bar.

this [https://codepen.io/amrsomename/pen/eYdKdrQ](codepin) prints in console the unhover events. you can see that the unhover event gets fired over and over again with the mouse being on the bars.

i hope this could help.

[2021-01-06 18:07] alexandergerber commented on #5277
Ich also checked out the codepen example. I found the problem there as well.
![plotly_issue](https://user-images.githubusercontent.com/19466818/103804459-71b28f80-5052-11eb-95f7-58c19642f797.gif)

[2021-01-06 19:15] archmoj opened #5378 "Missing transforms on partial bundles"
[codepen](https://codepen.io/MojtabaSamimi/pen/abmKBYZ?editors=1000)

[2021-01-06 21:04] bishonen commented on #5377
Yes, seems to be related - the descriptions are at least almost the same.
I lack the expertise to understand why image-size was moved to a dependency, tbh. Could perhaps someone more knowledgeable explain in a sentence how this affects using plotly in a react app? In the browser, there isn't any 'fs', of course, thus the whole thing has to fail. Is there something simple I'm missing here?

[2021-01-06 21:21] michaelbabyn opened #5381 "Yaxis values remain after plotly.react call is made to modify the data of a chart with orientation="h""
With newplot, the chart renders correctly both times but plotly.react contains old yaxis values the second time it is called. The react chart's fullData shows only the "new" y values but the old ones are still getting rendered.

![Peek 2021-01-06 16-14](https://user-images.githubusercontent.com/41019918/103820399-4b80f580-503a-11eb-8e67-26eb35a7905c.gif)

[codepen of bar graph in horizontal orient

[2021-01-06 21:43] archmoj opened #5382 "Unexpected character in some bundles"
After merging #5359, there is a problem with `finance` bundle in

![Screenshot from 2021-01-06 16-35-58](https://user-images.githubusercontent.com/33888540/103822333-ea5b2100-503d-11eb-8c83-3b69026b29bf.png)

At
[code]
Strangely enough it is only happening in `finance` and not `geo` and others!

![Screenshot from 2021-01-06 16-42-38](https://user-images.githubusercontent.com/33888540/103822411-154

[2021-01-06 22:15] nicolaskruchten commented on #5381
A+ for the codepens! Generated using `fig2pen. react_multi()`?

[2021-01-06 22:41] michaelbabyn commented on #5381
yes, it's a handy function :)

[2021-01-06 23:52] archmoj commented on #5381
@michaelbabyn Could you please pin down the version of plotly.js in the codepen instead of the latest?
That way it would be possible to come back and view the bug once it was fixed.
Thank you!

[2021-01-07 01:59] #5378 closed

[2021-01-07 02:02] archmoj commented on #5382
Fixed via #5379.

[2021-01-07 03:19] alexcjohnson commented on #5377
I don't understand how `image-size` is (most of the time) avoiding looking for `fs` either. `probe-image-size` as discussed in #5243 certainly seems like a better option for us - it's explicitly meant for the browser, and we might even be able to do better on size by just bringing in the sync piece:
[code]

[2021-01-07 07:18] tarun57 opened #5384 "Custom tooltip with buttons"
I'm using plotly graph in angular i want to create custom tooltip with buttons and data and button will click for navigation.

[2021-01-07 08:52] alexandergerber opened #5385 "Allow user annotations"
As far as I know it is possible for a user to add shapes to a plot as in the last example on this page https://plotly.com/python/shapes/ .
![image](https://user-images.githubusercontent.com/19466818/103871602-897b2980-50cd-11eb-9960-a8f3065b795c.png)

It would be a cool feature, if the user could also annotate the graph, e.g. similar how you would do it in Power Point by adding
a text field.

[2021-01-07 14:43] #5353 closed

[2021-01-07 14:58] alexcjohnson commented on #4563
Curious whether the MathJax power users out there know if v3 avoids the function constructors that v2 has, as noticed by @archmoj in https://github.com/plotly/plotly.js/pull/5383#issuecomment-756146838 - we're trying to improve our compatibility with strict CSP and ATM that means we need to consider MathJax "not our problem," but if the new one avoids that issue we may have more motivation to upgr

[2021-01-07 15:04] michaelbabyn commented on #5381
ok @archmoj , I just changed the js bundle in those pens to plotly-1.58.4.min.js

[2021-01-07 15:12] archmoj commented on #5381
Thanks @michaelbabyn.
Could you please also open an issue/improve `fig2pen. react_multi()` script to always use actual version?

[2021-01-07 17:37] pgkirsch commented on #5369
Sibling issue in the plotly.py repo: plotly/plotly.py#2878 :)

[2021-01-07 19:28] nicolaskruchten commented on #5369
This issue has been tagged with `NEEDS SPON$OR`

A [community PR](https://github.com/plotly/plotly.js/pulls?q=is%3Apr+is%3Aopen+label%3A%22type%3A+community%22) for this feature would certainly be welcome, but our experience is deeper features like this are difficult to complete without the Plotly maintainers leading the effort.

**Sponsorship range: $12k-$17k**

What Sponsorship includes:
- Compl

[2021-01-07 21:16] rreusser commented on #5377
All of my initial guesses proved false. [The dist version of image-size](https://unpkg.com/image-size@0.9.3/dist/index.js) has `require('fs')`. I can't find that Plotly runs the brfs transform when bundling, which would browserify fs calls:

https://github.com/plotly/plotly.js/blob/3a501ef02964c6eb7c5f5e790a0696fab3738da2/tasks/util/browserify_wrapper.js#L44

In short, it's not clear to me.

[2021-01-07 21:19] antoinerg commented on #5377
FYI, I have no objection to replacing `image-size` with `probe-image-size` especially if we can only pick the `sync` part!

[2021-01-07 21:22] archmoj commented on #5377
@rreusser simply FYI we are using `image-size@0.7.5` not `image-size@@0.9.3` which liked above.
Suggestions are welcome : )

[2021-01-08 13:58] #5243 closed

[2021-01-08 14:07] archmoj commented on #5377
Closing via #5388.

[2021-01-08 14:07] #5377 closed

[2021-01-08 14:53] archmoj commented on #5243
@silviubogan would you mind testing if the issue was resolved after #5388?

[2021-01-08 14:54] archmoj commented on #5377
@bishonen would you mind testing if the issue was resolved after #5388?

[2021-01-08 15:37] bishonen commented on #5377
@archmoj of course! That's the least I can do :)
I'd test if after there's a new release, though, as I am not sure in what other way I could pull this change into a react app.

[2021-01-08 15:54] archmoj commented on #5377
@bishonen in fact we are more interested to test this before next release which might take weeks.
Could you somehow load [this latest build](https://99157-45646037-gh.circle-artifacts.com/0/dist/plotly.js) in your app?

[2021-01-08 17:45] silviubogan commented on #5243
@archmoj Thank you for the notification. I am pleased to know you have worked on this. I will try to find time in the following week.

[2021-01-08 23:47] afang223 opened #5390 "3d graph export"
Currently, when trying to build an external button to export a 3d scatter graph as a png, the graph is never able to be downloaded. The same function call to the modebar to image button's click function works for 2d graphs. How can this be resolved?

[2021-01-09 20:03] bishonen commented on #5377
@archmoj
I tried placing that build and simply replacing my plotly import in a react app to the file, but it fails to compile due to something else

`Unexpected character '€' (4071:43)`

[2021-01-09 20:07] archmoj commented on #5377
Could you set charset to utf8?

[2021-01-09 20:37] bishonen commented on #5377
Wasn't quite sure how you meant to change the encoding (in the header of the index.html ?). Therefore I searched, found and followed the advice from someone who already [had this issue](https://github.com/plotly/plotly.js/issues/3379). They used the minified version which turned out to be working fine.

With this in place, I can gladly confirm that the latest build does not throw any 'fs' related

[2021-01-09 23:28] archmoj commented on #5243
See https://github.com/plotly/plotly.js/issues/5377#issuecomment-757363843

[2021-01-11 05:04] alexandre-pecorilla commented on #1428
Bump!
Like @vidasci said, the plotly_dark them is awesome but the bright background on the dropdown makes it impossible to see the values when hovering.

[2021-01-11 13:12] j-proc opened #5391 "Firefox Latex/Mathjax Rendering Broken"
It seems that there's a latex rendering issue on firefox again... #2616

I'm including a specific example for illustration.

Everything works fine on chrome:
![chrome](https://user-images.githubusercontent.com/47364977/104185968-b6884e80-53e3-11eb-8692-b3730db76a28.png)

On firefox:
![firefox](https://user-images.githubusercontent.com/47364977/104186029-cbfd7880-53e3-11eb-9dab-ce199fc93833.png)

B

[2021-01-11 14:11] alexcjohnson commented on #5391
Duplicate of #5374 (which now has a more obvious title 😅 )
Thanks for the details, it seems pretty clear the problem is somewhere in the bounding box calculations.

[2021-01-11 14:11] #5391 closed

[2021-01-11 17:06] JMiller63 opened #5392 "Heatmap Colorscale Feature Request"
My project uses the Heatmap and accompanying Colorscale object to represent our data. We have implemented a slider component that dynamically updates the zmin and zmax values of the Colorscale object. The data we present is in the 0 to 100 range and the issue we are seeing is that when the zmax value changes between having 2 digits to 3 the Colorscale tick mark labels update and cause a minor grap

[2021-01-11 17:39] alexcjohnson commented on #5392
That's happening because by default the margins expand automatically to fit their contents, in this case the colorbar. But you can disable that behavior by turning off `layout.margin.autoexpand` and setting an explicit `layout.margin.r` (assuming your colorbar is on the right) that leaves enough space for all situations.

[2021-01-11 18:50] JMiller63 commented on #5392
This fixed our issue exactly, thanks so much!

[2021-01-11 18:50] #5392 closed

[2021-01-11 21:14] nicolaskruchten opened #5395 "v2 changes"
Here's what we're going to do for v2
- [ ] switch to `native-promise-only` and officially drop support for IE9 and IE10
- [ ] stop exporting D3
- [ ] stop exporting `Plotly.plot`
- [ ] drop `area`, `contourgl` and `pointcloud` traces
- [ ] drop support for polar plots in `scatter` (aka "micropolar"?) i.e. `scatter.r` and `scatter.t` and `layout.angularaxis` and `layout.radialaxis` and anything els

[2021-01-11 21:15] nicolaskruchten commented on #5395
@alexcjohnson suggested the following, which I approve if they take less than a day:

- [ ] change `isPlainObject` - either just drop the second clause or use something like the new one I found in https://github.com/plotly/plotly.js/issues/5151 - in principle this needn’t be a major but it feels a bit risky to me for some straight JS users
- [ ] drop some other exports: it also may be nice to stri

[2021-01-11 21:17] nicolaskruchten commented on #5395
Note to self: the plotly.com/javascript docs will need to stop relying on the built-in D3 :)

[2021-01-12 10:36] kenchan13 opened #5396 "demo code responsive issue"
Hello. I modify react plotly.js demo code to make it responsive.
It works when I changed the browser width but not the height.
I check html code, height always be `450px` no matter how I change `style={{height: '100%', width: '100%'}}`

`<div class="user-select-none svg-container" style="position: relative; width: 100%; height: 450px;" >`

env:
    "plotly.js": "^1.58.4",
    "plotly.js-basic-dist

[2021-01-12 17:56] Raimondo-M opened #5397 "Colorbar scale on Mapbox doesn't update after callback"
Hi everyone,
 I am having the following issue using px.scatter_mapbox to show some values from a dataframe.
The issue appears when I change with a callback the value to plot.
"Value A" has a lower scale than "Value B".
When I move from A to B with the callback, everything is fine.
When I come back to "value A" from "value B",  the colorbar keeps the biggest scale of "value B".
This is happening wi

[2021-01-12 22:33] DobsX commented on #5390
I have the same use-case and ultimately the same problem.  We have a bunch of other components/html around the Plotly plot that we want to include in the image, so we are using our own external button.

From what I can tell, 3d charts are using webgl, and so there's some extra stuff that needs to be considered.  I think calling `toImage` or `downloadImage` externally is somehow not providing the r

[2021-01-13 08:21] Reine0017 commented on #3511
Hello! Just wanted to ask if anyone has any recommendations for plotting clickable interactive 3D diagrams with x,y,z coordinates?

[2021-01-13 11:32] Charlesfox1 commented on #5145
+1 for this. Sad to see it has not got any attention.

[2021-01-13 20:22] jackparmer commented on #4074
Hey @lstuemke, just reached out on LinkedIn. We'd love to sponsor you adding this to Plotly.js if you're still interested in doing so. Please feel free to write me (email in GitHub bio) if this sounds interesting to you.

[2021-01-13 20:54] lstuemke commented on #4074
Thanks for touching base, @jackparmer. Err, this is embarrassing, but Gmail won't deliver my emails to your plot.ly address.

[2021-01-13 21:15] jackparmer commented on #4074
Ah no problem, jack@plotly.com should work too

Sent from my iPhone

[2021-01-14 03:54] rlele5 commented on #2291
Hi @ruijin , I tried manually updating the code plotly.js and reg-line2d code that is in my `/Library/Frameworks/Python.framework/Versions/3.7` directory and then I restarted my jupyter notebook to see if it worked. However, I still saw the same issue. I'm pretty sure the issue is on my end, but do you know how I can get my `plotly.py` library to "uptake" the changes you've made to `plotly.js`? I'

[2021-01-14 04:47] archmoj commented on #2466
This might be fixed by #5358.

[2021-01-14 04:49] archmoj commented on #1032
This might be fixed by #5358.

[2021-01-14 10:36] AnupamSaraph opened #5401 "Graph animations do not work in jupyter notebook in vscode"
## Environment data

-   VS Code version: XXX
-   Jupyter Extension version (available under the Extensions sidebar): 2020.12.414227025
-   Python Extension version (available under the Extensions sidebar): 2020.12.424452561
-   OS (Windows | Mac | Linux distro) and version: Windows 10 Home Version 1909 OS Build 18363.1256
-   Python and/or Anaconda version: 3.7.6
-   Type of virtual environment u

[2021-01-14 13:59] nicolaskruchten opened #5402 "inside ticks with dual y-axes"
In this pen https://codepen.io/nicolaskruchten/pen/QWKJamw the range on the left side should make room for the `y2` tick labels. I'm not sure what the general principle is here... is it because `y2` is anchored to `x` or just because there exists a trace on `x, y2`? @alexcjohnson if you have any insight into a general rule here, I'd appreciate any thoughts.

[2021-01-14 14:04] frankwalentowski opened #5403 "[Feature Request] New Sizing Option to Repeat Source Image in Area Defined in layout.image Object"
I tried to draw a pattern below a trace to highlight specific areas within the trace.
For reasons of beauty it is no option for me to use layout.shapes to draw a monotonous color area. I want to draw a pattern with small tiles which are repeated within drawn area.

I thought one option could be to use layout.images. But while testing this feature I realized that the parameter layout.images[].sizin

[2021-01-14 14:35] alexcjohnson commented on #5402
Nice find. Certainly this depends on `y2` being anchored to either `x` or another axis that overlays `x`. I don't think it matters what traces exist, we want everything in that subplot to avoid overlapping these labels.

So I guess the rule is: a set of y axis inside tick labels should contribute to the autorange for the x axis it's anchored to and any other x axis grouped with it via `overlaying`

[2021-01-14 15:02] nicolaskruchten opened #5404 "clipped axis labels"
In this pen: https://codepen.io/nicolaskruchten/pen/BaLGYeW?editors=0010 the right-most xaxis ticklabel should not be rendered if it's being clipped like this. Note: `ticklabelmode` is being set to `period` in the `layout.template` and the clipped label has no data associated with it.

[2021-01-14 15:19] alexcjohnson commented on #2466
Yes, @archmoj feel free to close this issue.

[2021-01-14 15:20] #2466 closed

[2021-01-14 15:27] alexcjohnson commented on #1032
This one we should explicitly test (manually, once, I don't see it as requiring a CI test) before closing.

[2021-01-14 15:28] nicolaskruchten opened #5405 "Physically square plots with automatically matching ranges"
@alexcjohnson's idea here would be a `matchlength` boolean attribute which would ride on top of `matches` and force the domains to match as well as the ranges. Maybe `matchdomainlength` ?

This would enable physically-square all-ranges-match facetted plots like this:

* `xaxis1: matchlength=true, anchor=y1, matches=y1`
* `xaxis2: matchlength=true, anchor=y2, matches=x1`
* `yaxis1: matchlength=true

[2021-01-14 15:29] nicolaskruchten commented on #5405
Presumably, having all four axes (x and y) have `matches=x, matchlength=true` would also do it.

[2021-01-14 15:32] alexcjohnson commented on #5405
`xaxis: {matches: 'x'}` would be ignored during `supplyDefaults` so yes that would work. Redundant and would be flagged by `Plotly.validate`, but if that makes upstream logic simpler then go for it.

[2021-01-14 19:38] archmoj commented on #2291
Fixed via #5355.

[2021-01-14 19:38] #2291 closed

[2021-01-14 20:26] DobsX commented on #5390
@afang223 your situation seems so eerily similar to mine so perhaps my solution will work for you.  We're using next.js SSR for our project, and webgl/3d Plotly plots were having an issue with screenshots.  Just like you, it was fine with 2d.

So what we had to do was to import Plotly.js [dynamically](https://nextjs.org/docs/advanced-features/dynamic-import) so the functions are running in the bro

[2021-01-15 01:13] #4962 closed

[2021-01-15 12:09] scorpionfire commented on #3086
Same question me too.

[2021-01-15 13:42] nicolaskruchten commented on #2924
To anyone still subscribed to this issue: we'd like to understand the situations in which `heatmapgl` performs better than `heatmap`, if you could provide some examples of dataset size, interactions and OS/browser version please.

We are considering removing `heatmapgl` from future versions of Plotly.js and are trying to understand the impact of such a change.

[2021-01-15 15:39] #5151 closed

[2021-01-15 15:45] silviubogan commented on #5243
@archmoj  The error related to the module `image-size` is gone (with the latest commit in `plotly.js#master`) in the project I work on, although I did not test inside CodeSandbox. Is it possible to tell when will the change be included in a GitHub release? Thank you!

[2021-01-15 15:52] archmoj commented on #5243
Thanks for testing this out.
We are working on a major release now that involves days of QA.
So v2 might be out around Jan 25, I hope.

[2021-01-15 16:49] silviubogan commented on #5222
With the latest Plotly.js commit in master **(997946b868532303aaa0db0fda6003d48a617a82)** I get this error when using scatter 3d (the code I work on is [here](https://github.com/eea/volto-plotlycharts/blob/b1d87d85f3e89936c40df4fda57cba0b28c1d475/src/ConnectedPlotlyChart/ConnectedChart.jsx) and the package.json is accessible in the same project):

![image](https://user-images.githubusercontent.com

[2021-01-15 16:55] archmoj commented on #5222
@silviubogan thanks for the report.
Could you please let us know about the OS and browser you are on?

[2021-01-15 17:16] silviubogan commented on #5222
@archmoj Chromium `Versiunea 87.0.4280.88 (Versiune oficială) Arch Linux (64 de biți)` on Manjaro Linux latest stable version at the moment I am writing this.

[2021-01-15 17:28] archmoj commented on #5222
@silviubogan now could you please test [this branch](https://github.com/plotly/plotly.js/compare/debug-5222) and report the error messages you get?

[2021-01-17 20:04] aliaksandr-dzemchanka opened #5417 "Last xaxis tick tooltip is misaligned (only with custom xaxis ticks)"
In this pen https://codepen.io/aliaksandr_dzemchanka/pen/zYKerPr last point xaxis tick tooltip is misaligned. It should be rendered at the same place where xaxis line ends.
This is not reproduced if I remove custom ticks (ticktext and tickvals).
![image](https://user-images.githubusercontent.com/7568452/104854367-49127b80-5917-11eb-8261-943842f60cde.png)

[2021-01-18 12:21] samuel-pate opened #6172 "[BUG] waterfall chart shrinks"
Thank you so much for helping improve the quality of Dash!

We do our best to catch bugs during the release process, but we rely on your help to find the ones that slip through.

**Describe your context**
Please provide us your environment so we can easily reproduce the issue.

-  replace the result of `pip list | grep dash` below
[code]
-  if frontend related, tell us your Browser, Version and OS

[2021-01-18 12:35] naresh-FD opened #5418 "Need to remove the transparency in radar chart bg color"
![image](https://user-images.githubusercontent.com/50324374/104916035-82022d00-59b7-11eb-95fd-0931f15ae9d9.png)

Is there any option to removing remove the opacity of the green highlighted portion in the radar chart ??

[2021-01-18 16:47] silviubogan commented on #5222
@archmoj I get an empty canvas and no errors, until I resize the viewport, when I get [this console output](https://gist.github.com/silviubogan/5c19924957b3ad6adce151f762b0618f) for almost each resize event. If I change the type of the chart from Scatter 3D to Line 2D in the react-chart-editor I get a working plot, when I switch back to 3D scatter, the canvas is empty. In the preview of react-char

[2021-01-18 16:57] archmoj commented on #5222
@silviubogan could you expand and paste `longMessage` regarding the shader error please?

[2021-01-18 17:08] silviubogan commented on #5222
@archmoj

[code]

[2021-01-18 17:10] silviubogan commented on #5222
@archmoj

A screenshot, HTH.

![image](https://user-images.githubusercontent.com/198924/104944966-ab738680-59c0-11eb-8f1a-02189d5c6067.png)

[2021-01-18 23:42] erezinman commented on #2887
@etpinard

Hi, was this issue neglected/forgotten about?
Thanks!

[2021-01-19 01:01] etiennecelery commented on #4530
+1

[2021-01-19 01:21] nicolaskruchten commented on #2887
This item isn't on anyone's roadmap that I know of at the moment, but we'd welcome a pull request to address it!

[2021-01-19 11:43] philtgun commented on #1963
Any updates on this issue? In my case, my goal is to trigger hover event on the scattergl plot for comparison, and `hover()` doesn't work with scattergl, and `loneHover()` is too cumbersome to use at a high level, and there is not much documentation available except for the code. But apparently, that is the only way to do things at the moment?

[2021-01-19 13:50] alexcjohnson commented on #5418
You can set an explicit `fillcolor`

[2021-01-19 13:50] #5418 closed

[2021-01-19 13:54] erezinman commented on #2887
If you could point me towards where to look, I might do it.

[2021-01-19 20:23] archmoj commented on #1032
Tested. It is fixed on master.

[2021-01-19 20:23] #1032 closed

[2021-01-19 23:30] alexcjohnson commented on #2887
Here's `hoveron: fills` for `scatter`:
https://github.com/plotly/plotly.js/blob/373d4ffbb06952eb9357c38707ba88b7aa3ba3e8/src/traces/scatter/hover.js#L107-L192

We'd need to implement similar logic in [`scattergl/hover`](https://github.com/plotly/plotly.js/blob/master/src/traces/scattergl/hover.js) - then since [`scatterpolargl/hover`](https://github.com/plotly/plotly.js/blob/master/src/traces/scat

[2021-01-20 02:42] #4883 closed

[2021-01-20 04:00] naresh-FD commented on #5418
no am giving the Hexa and also tried with RGBA color code only but on load am getting the same.
![image](https://user-images.githubusercontent.com/50324374/105125253-f0eb9d00-5b01-11eb-989a-90520316ce59.png)

[2021-01-20 15:14] alexcjohnson commented on #5418
Not inside `marker` - you're not using markers here at all, only lines and fill. Your trace should look something like:
[code]
https://plotly.com/javascript/reference/scatterpolar/#scatterpolar-fillcolor

[2021-01-20 17:09] nicolaskruchten commented on #5395
@archmoj can you please provide a list as a comment in this issue of all the methods in our public API that have been dropped, so that folks like @cpsievert can easily grep for them in their own codebases. I've pinged the R/Julia/.Net downstream folks to let them know what's coming and directed them here :)

[2021-01-20 21:32] archmoj commented on #5395
Here is a list of `Plotly` methods that are going to be removed in v2:
[code]
Milestone: https://github.com/plotly/plotly.js/milestone/60?closed=1

[2021-01-20 22:02] archmoj commented on #5395
Yes `Plotly.purge()` and `Plotly.extendTraces() are still around.
The following methods are unchanged:
[code]

[2021-01-20 22:06] nicolaskruchten commented on #5395
Ah ok so in [your message above](https://github.com/plotly/plotly.js/issues/5395#issuecomment-763962569), it's `Plotly.Plots.purge` that is going away, and that's an alias to `Plotly.purge`?

Also, in the [message above](https://github.com/plotly/plotly.js/issues/5395#issuecomment-763962569), is `Plotly.Plot` the same thing as the `Plotly.plot()` function or something else? unsure if the capitaliz

[2021-01-20 22:09] archmoj commented on #5395
Thanks for catching that! I edited the message above so that `Plotly.plot` is not capital.

[2021-01-20 22:17] archmoj commented on #5395
No it is not an alias.
`Plotly.purge()` performs other operations in addition to calling `Plotly.Plots.purge()`
https://github.com/plotly/plotly.js/blob/59390cbabf7d48c19179f68daf13e7d8af32f329/src/plot_api/plot_api.js#L3598-L3620

[2021-01-20 22:35] compilergeek commented on #4192
@archmoj I was wondering if this was ever implemented? I have a use-case where I am using the isosurface trace and there are a lot of null values. Thanks!

[2021-01-20 22:39] archmoj commented on #4192
@compilergeek
No it is not implemented.

[2021-01-20 22:42] compilergeek commented on #4192
@archmoj Is there any way to work around it?

[2021-01-20 22:44] archmoj commented on #4192
Have you tried replacing gaps (i.e. undefined values) with a value outside [`isomin`, `isomax`] as illustrated in the codepen in the issue description?

[2021-01-20 22:48] compilergeek commented on #4192
@archmoj Yes, I tried -999. What happens is that there is an isosurface along the boundary. It doesn't seem to heed to [isomin, isomax].

For example, the edge of the data might be 10, and then it jumps to -999, and then there's an isosurface rendered along the boundary because I'm plotting from [isomin = 0 to isomax = 20]. Obviously, I wouldn't want there to be isosurface there at all.

[2021-01-21 02:13] JakenHerman commented on #5222
The above happens on Windows 10/MS Edge and Windows 10/Mozilla Firefox as well.

[2021-01-21 02:28] kenchan13 opened #5428 "[bug] cannot show gauge threshold when value is 0"
Hi! I want to set the threshold value in gauge. There is no problem with positive and negative number except '0'.
I checked plotly.js issues and stackoverflow and there is no solution right now.

https://codepen.io/kenchan13/pen/mdrgPBK?editors=1010

Thanks

[2021-01-21 12:58] #5382 closed

[2021-01-21 20:44] antoinerg commented on #5428
Thanks @kenchan13 for the very clear bug report!

[2021-01-21 21:44] #5428 closed

[2021-01-22 01:54] orangeSi opened #5431 "Click one point by javascript instead of mouse"
Hello， I try to click one point (example: the point which x=5) by javascript instead of mouse， but I don't know how to do it or can't find the API of Plotlyjs.

My test code is  as below:
[code]
and
[code]
then get the plot:
![image](https://user-images.githubusercontent.com/12126846/105434944-6dfc4b00-5c97-11eb-9007-43aa7e5715a0.png)

The above code also be in [codepan](https://codepen.io/plotly/

[2021-01-22 14:44] nicolaskruchten commented on #5395
Updates:

1. we're keeping `role: "object"` in the schema (because they're useful and consistent) and dropping the other `role` values (because they're inconsistent and therefore potentially dangerous to use and Plotly.py and docs don't use them)
2. we're keeping `pointcloud` and marking it deprecated
3. we're marking `heatmapgl` as deprecated

[2021-01-22 15:49] tcummin2 opened #5434 "Focusing an annotation while editing another annotation places the editable text elsewhere"
Reproducible example: https://codepen.io/etpinard/pen/PZgPKx

1. Click one of the annotations to edit it
2. While still editing the annotation, click a separate annotation
3. The newly-editing annotation will become editable, but the editable text appears in the top left instead of overlaying the annotation itself

[2021-01-22 20:01] rreusser opened #5437 "Unhover does not fire when drag triggers unhover"
To aid hooking up external behavior on hover/unhover, there is a small inconvenience with `plotly_unhover` not being fired when dragging triggers unhover.

Version: Plotly 1.58.4
Browser: Chrome 88.0.4324.96 (Official Build) (x86_64)
Platform: Mac OS X 10.13.6

[code]

The gif below illustrates the issue. In particular, when dragging to zoom begins, the console.log counter from previous unhovers i

[2021-01-23 13:59] Eghizio commented on #3518
@tony same issue here. Cannot use `react-plotly.js` on *Codesandbox* and *Stackblitz*, neither *JavaScript* or *TypeScript*.
It seems it is a `plotly.js` issue.

[2021-01-23 15:36] DaveSprague opened #5440 "Plotly in a browers from Python Script"

[2021-01-23 15:41] DaveSprague commented on #5440
Is it correct that plotly will not render in a browser when you're just running it using python from the command line or inside vscode.  That it will only render in a browser when running from inside a jupyter notebook or if you build your own webserver as part of your python code?

When running a python script (not a notebook) I can get it to generate an html file and display that in a browser bu

[2021-01-23 15:42] #5440 closed

[2021-01-23 15:43] DaveSprague opened #5441 "Rendering to a browser from a python script?"
Is it correct that plotly will not render in a browser when you're just running it using python from the command line or inside vscode. That it will only render in a browser when running from inside a jupyter notebook or if you build your own webserver as part of your python code?

When running a python script (not a notebook) I can get it to generate an html file and display that in a browser but

[2021-01-23 16:42] alexcjohnson commented on #5441
Sounds like [Dash](https://github.com/plotly/dash)

[2021-01-23 18:06] DaveSprague commented on #5441
I'll look into that Thank you.

[2021-01-24 06:41] jneilliii opened #5442 "Relayout of range on y axis removes left and right borders of plot"
After generating a line plot, if you use relayout to add a range to y axis and set autorange: false the left and right borders of the plot get removed. Here's an example jsfiddle.

https://jsfiddle.net/pkbgvjmL/

Relevant layout options and line traces in link above; based on the `Styling a Line Plot` example from the docs.

[code]
relayout command used
[code]

[2021-01-25 21:28] nicolaskruchten opened #5445 "allow boolean mask for selectedpoints"
Right now if I have a scatter plot with 5 points and I want to mark the first three as selected, I have to pass `selectedpoints: [0,1,2]` but in certain contexts it would be easier to provide `selectedpoints: [true, true, true, false, false, false]`.

[2021-01-25 22:56] alexcjohnson commented on #5442
When you use `relayout` that way you're replacing the entire `yaxis` object with the new one that only contains `{autorange: false, range: [0, 300]}`, deleting all the other values you started with. What you want instead is:

[code]
The `autorange: false` will be inferred from this, but if you prefer you can also do:
[code]

This behavior is described in https://plotly.com/javascript/plotlyjs-func

[2021-01-26 00:52] jneilliii commented on #5442
Thank you so much, that worked as expected.

[2021-01-26 00:52] #5442 closed

[2021-01-26 02:17] #5437 closed

[2021-01-26 03:28] alexcjohnson commented on #5445
Seems reasonable, accept either form and switch based on the type of the first array element?

[2021-01-26 13:09] nicolaskruchten commented on #5445
sgtm

[2021-01-27 16:58] davidhaley commented on #3518
OP's fix works for me. Should there be a PR for this?

[2021-01-27 22:08] ruliana commented on #3167
Any update on this?

[2021-01-27 22:57] ECrosland opened #5448 "Double clicks not recognized through the trackpad"
I've seen a number of issues/bug reports concerning double click behavior, both here on GitHub and on Stack Overflow.

For my part, I noticed that none of the double click gestures were being picked up--in particular, double click to restore zoom level, or double click on legend to hide all other traces.

I observed this behavior while using my laptop's trackpad. However, when I plugged in a mouse

[2021-01-28 00:15] ECrosland commented on #5448
If I increase the [doubleClickDelay](https://plotly.com/python/configuration-options/#doubleclick-delay) to 500ms, then double clicks through the trackpad begin to be recognized as such. An interval any shorter than that doesn't seem to be enough.

Of course, increasing the double click delay also translates into a longer delay in waiting for a single click event to be recognized. At 500ms, that h

[2021-01-28 04:55] dhirschfeld commented on #5395
Just wondering if https://github.com/plotly/plotly.js/pull/5230 will make it in 2.0?

[2021-01-28 05:02] archmoj commented on #5395
I think new features like that could possibly be added in a minor afterwards e.g. v2.x.0

[2021-01-28 08:39] jaladh-singhal commented on #5374
@alexcjohnson when can we expect this to be fixed?

[2021-01-28 11:59] TheLogan opened #5450 "Huge difference between polar plot in plotly.js and plotly.js-basic-dist"
So I've created the following codepen, in the left side I've got the cdn for both plotly.js and the basic dist, one is commented out, switch them around to see the difference. The basic one to me looks like it's broken
[https://codepen.io/tim-logan/pen/GRNKGZJ](https://codepen.io/tim-logan/pen/GRNKGZJ)

[2021-01-28 12:18] nicolaskruchten commented on #5374
We'll try to fix it in the coming weeks but we'd sure appreciate some help!

[2021-01-28 13:32] archmoj commented on #5450
Thanks for the report.
Here is a [minimal codepen](https://codepen.io/MojtabaSamimi/pen/RwobBvM?editors=1000) showing the diff between two.

[2021-01-28 13:37] alexcjohnson commented on #5450
That's not expected to work. The [basic bundle](https://github.com/plotly/plotly.js/blob/master/dist/README.md#plotlyjs-basic) is only supposed to contain `scatter`, `bar`, and `pie` trace types. I think what's happening is the basic version is falling back to the very old (and about to be removed in v2) legacy polar charts, because `type: 'scatterpolar'` isn't recognized, so you end up with `type

[2021-01-28 13:38] archmoj commented on #5450
And if I substitute with the v2 candidate builds on master there is no `polar` on `basic` | [codepen](https://codepen.io/MojtabaSamimi/pen/mdObjNj?editors=1000).

@alexcjohnson isn't this the correct behaviour given the fact `basic` bundles should not contain `scatterpolar`?

[2021-01-28 13:41] #5450 closed

[2021-01-28 20:45] archmoj commented on #5277
Fixed by #5256.

[2021-01-28 20:45] #5277 closed

[2021-01-29 04:30] ak868308 commented on #2352
Anybody found the solution for this using plotly-latest.js

[2021-01-29 06:24] antoinerg commented on #5374
On Firefox 84.0.2, I noticed that the latest version of MathJax 2.x (2.7.9) behaves very differently from the one checked into our repo (2.3). Based on this, I'm not sure there will be one solution that will work for both MathJax versions.

For example, using my tentative fix, I get this on 2.7.9:
![newplot(4)](https://user-images.githubusercontent.com/301546/106238859-9c19e780-61cf-11eb-8740-8737

[2021-01-29 11:25] cdalvaro commented on #2627
It would be great to have this feature working!

[2021-01-29 13:06] nicolaskruchten commented on #2627
Agreed! No one is working on this item at the moment but we would certainly welcome a community contribution for it!

[2021-01-29 18:52] antoinerg commented on #5374
For reference, this is what the very same mock looks like in Firefox 84.0.2 on Linux on `master` branch:
![newplot(2)](https://user-images.githubusercontent.com/301546/106315331-1a5ea400-6239-11eb-81c8-7249cf1875ff.png)

[2021-01-29 19:25] alexcjohnson commented on #5374
We can certainly upgrade to 2.7.9 and drop 2.3, especially if we can get this into our v2 release. In fact in a perfect world we'd upgrade to MathJax v3 in plotly.js v2, but I assume that'll be more than a one-afternoon change, so not something we can do right now.

[2021-01-29 19:33] archmoj opened #5452 "Investigate upgrading mathjax in v2"
We can certainly upgrade to 2.7.9 and drop 2.3, especially if we can get this into our v2 release. In fact in a perfect world we'd upgrade to MathJax v3 in plotly.js v2, but I assume that'll be more than a one-afternoon change, so not something we can do right now.

_Originally posted by @alexcjohnson in https://github.com/plotly/plotly.js/issues/5374#issuecomment-770001225_

[2021-01-29 19:34] archmoj commented on #5452
cc: #5395
@antoinerg could you please explore the possibility?

[2021-01-29 21:42] jbhyperlite39 commented on #4709
Yes, please! I'd like to have the full archive of data loaded for exploration, but only have recent data displayed by default.  Makes bar charts easier to read.  Makes diagnosing recent errors in dataset easier to interpret.

[2021-01-29 22:42] eniv opened #5453 "Logarithmic axis support for indicator charts."
Hi,
Is it possible to set the axis type to logarithmic for these charts?
I've tried to set the type attribute in xaxis and yaxis of the layout to 'log', but it had no effects:
[code]

my data trace is a simple bullet which looks something like:
[code]

I've also tried setting the `type` attribute to `'log'` under `gauge.axis`, but it also had no effect.

[2021-01-29 23:46] nicolaskruchten commented on #5453
We do not have log support for indicators at the moment, no.

[2021-01-30 00:44] eniv commented on #5453
ok, thanks for the quick response.

[2021-01-30 13:32] Peque commented on #5219
@Phil-DS Did you find any workaround for this?

[2021-02-01 01:53] nicolaskruchten commented on #5452
@archmoj could you please explore this? @antoinerg is busy on other projects ATM :)

[2021-02-01 03:04] s3630237 commented on #1354
Hi Guys,
I have the long and lat values for stores within Australia. I fed these values into plotly scattergeo to generate a bubble map but to no avail. I get a single bubble in the middle of Australia. Ive been using the following parameters, locations = ["Australia"], locationmode = 'country names'. After doing alot of research, is it it fair to say that plotly will only recognise US locations?

[2021-02-01 07:20] naresh-FD opened #5454 "radar name overlapping in names (theta )"
![image](https://user-images.githubusercontent.com/50324374/106426645-fe9f0c00-648b-11eb-96d2-72651ac82cc4.png)
tried to add margin and padding but no luck

[2021-02-01 12:06] TheLogan commented on #5450
Do any of the partial bundles contain polar coordinates? (I tried looking at creating my own bundle, but can't get the software to run, so I left a comment on the gist)

[2021-02-01 13:54] nicolaskruchten commented on #5454
This is a real problem for which we don't have a good solution beyond adding `<br>`s in your tick label names and possibly tweaking the font sizes.

[2021-02-01 13:58] nicolaskruchten commented on #1354
You can certainly plot points anywhere on the earth. `locationmode="country names"` means that points will be placed according to the value of `locations`, which in your case you've set to Australia, so all points get located in the middle. Try not setting `locationmode` or `locations` and instead setting `lat` and `lon` and your points should render in the desired locations.

[2021-02-01 13:59] nicolaskruchten commented on #1354
More generally: we are not planning on adding new built-in geographies to this library, but we have added the `geojson` attribute to all our geo traces so develops can provide their own geographies :)

[2021-02-01 13:59] #1354 closed

[2021-02-01 20:39] s3630237 commented on #1354
Thanks a lot Nicholas, that worked seamlessly! Cheers Bill.

From: Nicolas Kruchten <notifications@github.com>
Sent: Tuesday, 2 February 2021 1:00 AM
To: plotly/plotly.js <plotly.js@noreply.github.com>
Cc: Bill Koutsovasilis <s3630237@student.rmit.edu.au>; Comment <comment@noreply.github.com>
Subject: Re: [plotly/plotly.js] [Feature Request] States from Brazil on geo maps (#1354)

More generally:

[2021-02-01 22:08] tylerrexford commented on #1433
I discovered a hacky approach that people might find useful until better shadow dom support is available. Basically, if put a slot inside of the shadow dom and then slot in the plot div into the custom element, the plot will behave as if it's in the light dom but will be visually located inside the shadow dom. I've made a demo project demonstrating this trick using the polymer3 starter project:

[

[2021-02-01 22:53] VisualDad opened #5455 "Shiny Plotly Plot stuck when switching tabs quickly"
As already mentioned here:
https://stackoverflow.com/questions/52973305/shiny-plotly-plot-stuck-when-switching-tabs-quickly

This is a reproducible Example:
(Shiny App with the Tab switch Problem)

time_waste<- function(magnitude) {
  y<-0
  for(i in 1:magnitude) {
    y<- y + rnorm(1,0,1)
  }
  return(abs(y))
}

ui <- fluidPage(sidebarLayout(
  sidebarPanel(width = 3,
               fluidRow(

[2021-02-02 14:40] nicolaskruchten commented on #5292
So per @alexcjohnson there's this notion of one point "winning" the hover, in that the label will be positioned with respect to that point, and the spikeline, if present, will also be on that point (NB: one of the bugs highlighted here is that this spikeline invariant is not holding). As a second consideration, there is some set of rules about which other points get included in the hover label(s)

[2021-02-02 14:43] taschukMax opened #5457 "Closure Compiler fails with duplicate member "cool" error"
When trying to use Closure Compiler it fails with the following error:

`Class or object literal contains duplicate member "cool". In non-strict code, the last duplicate will overwrite the others.
  16739| 	"cool":[{"index":0,"rgb":[0,255,255]},{"index":1,"rgb":[255,0,255]}]`

When reviewing non minified version of plotly it does contain 2 "cool" keys

[2021-02-02 14:55] archmoj commented on #5457
Nice catch!
Reported in https://github.com/bpostlethwaite/colormap/issues/27

[2021-02-02 14:58] nicolaskruchten commented on #5292
This feels related BTW: https://github.com/plotly/plotly.js/issues/4787

[2021-02-02 14:58] nicolaskruchten commented on #5292
This is basically the issue in point 1: https://github.com/plotly/plotly.js/issues/4716

[2021-02-02 15:03] nicolaskruchten commented on #5292
I just remembered there's also the `layout(x|y)axis.spikesnap` attribute to think about here also. See https://github.com/plotly/plotly.js/issues/4657

[2021-02-02 15:04] nicolaskruchten commented on #5292
There's also a bunch of discussion in https://github.com/plotly/plotly.js/issues/4656

[2021-02-02 15:54] taschukMax commented on #5457
@archmoj thanks for picking this up!

[2021-02-02 20:38] #5457 closed

[2021-02-02 22:10] emmanuelle opened #5459 "hover is not displayed in the case of overflow"
See for example https://codepen.io/emmanuelle-plotly/pen/GRNJevo : the hover information (created here with a hovertemplate, not sure if it matters) is very long and the resulting hover box would be larger than the figure height. However, nothing is displayed at all for hover, which is not the expected behaviour I think (probably one cannot scroll, so should it be clipped?). The problem disappears

[2021-02-03 06:48] enggkishore opened #5463 "Can I drag and drop annotation only? Without editing text and other element of scatter plot."
Thanks for your interest in plotly.js!

Before opening an issue, please search for existing and closed issues. If your problem or idea is not addressed yet, [please open a new issue](https://github.com/plotly/plotly.js/issues/new).

Bug reports **must** be accompanied with a reproducible example. We recommend using [codepen](http://codepen.io/), [jsfiddle](https://jsfiddle.net/) or [jsbin](https:/

[2021-02-03 08:26] TheLogan opened #5464 "Polar charts don't respect the hovermode feature that enables multiple tooltips"
https://codepen.io/tim-logan/pen/zYovxmr

The first 3 charts work as expected, but the last one should to my understanding should show both tooltips at the same time, similar to how [Nivo handles tooltips on their radar chart](https://nivo.rocks/radar/) (except for the tooltips not being combined), where you get all values from a single point on the axis.
I've tried a few different values, and I c

[2021-02-03 08:43] acmiyaguchi commented on #3518
I haven't been able to use the precompiled bundles in a Svelte+rollup application that I've been building, but I have been able to use the ES6 module e.g. `plotly.js/lib/core`. Here's a solution that works for me in `rollup.config.js`:

[code]

I can't use `plotly.js-dist` because I get an issue about `process`.

<details>
<summary>error</summary>

[code]
</details>

[2021-02-03 15:45] archmoj opened #5465 "Use publish tag argument in post-publish"
While publishing the release candidate (rc) for v2, I noticed this line should change to avoid publishing dist and locales over the tag `latest`.

https://github.com/plotly/plotly.js/blob/90ec21b92b4d3d4ac6a15dc12d9fe13046c55ac5/tasks/sync_packages.js#L309

I made the temporary change to `npm publish --tag rc` at the publish time; however it would be nice to fix this before the next release.

[2021-02-03 22:43] #5465 closed

[2021-02-04 15:11] TheLogan commented on #5219
I could also use a fix for this, been trying a multitude of things, but dragmode is the one that makes most sense, but it doesn't seem there is a way to do it :(

[2021-02-04 16:20] nicolaskruchten commented on #5219
We'd accept a PR for this if someone is interested :)

[2021-02-04 20:44] nicolaskruchten commented on #5285
So the problem here is that the legend item is black instead of whatever the middle of the color scale is.

[2021-02-05 07:45] MediumBrownToast opened #5472 "scattermapbox: Latitude and Longitude are displayed in the incorrect order"
**Example:** Any of the examples in the Plotly documentation (this is NOT a documentation issue, it's just easy to use them as examples): https://plotly.com/javascript/scattermapbox/

**Reproduce problem:** Hover your mouse over any of the points in the map, the longitude and latitude are displayed.

**Problem:** The longitude and latitude are displayed in the wrong order. They should be displayed

[2021-02-05 08:27] TheLogan commented on #5219
Had a look at the source code, it's beyond me I'm afraid =/

[2021-02-05 14:09] nicolaskruchten commented on #5472
Seems clear enough, thanks for the clear and well-supported issue! @archmoj @alexcjohnson since we're doing 2.0 anyway, let's just change the default here.

[2021-02-05 14:32] archmoj commented on #5472
cc: #5395

[2021-02-05 14:43] Phil-DS commented on #5219
Sadly, I never found a fix for it. While I could have lived without removing the drag rotation, it had another aspect that it disabled click events, which were pivotal to the use case I had. I did update to the latest today to see if the click events were still disabled by it, and they were. In the end, I ignored the issue.

I did have a deeper look into the source code at the time, and unless I d

[2021-02-05 14:43] alexcjohnson commented on #5472
Makes sense to me - we probably just copied over the (x, y) convention from 2D cartesian but maps do seem consistent in putting lat first. In fact, why don't we do away with the signs and use cardinal directions - that seems like the clearest of all. So instead of:

we would have:

I notice that the [Representation_at_the_human_interface](https://en.wikipedia.org/wiki/ISO_6709#Representation_at_th

[2021-02-05 14:48] alexcjohnson commented on #5472
Note this applies to both mapbox and geo subplots

[2021-02-05 15:00] nicolaskruchten commented on #5472
I agree that cardinal directions would be better, but for now let's just switch the order in the default hoverlabel. I'm fine with tweaking the actual formatting later :)

[2021-02-05 15:11] alexcjohnson commented on #5472
Sounds good, let's just leave this issue open (perhaps with an updated title) until we add cardinal directions.

[2021-02-05 15:42] Djeramon opened #5473 "rangebreaks hide wrong days"
The rangebreaks option does not work as documented. It hides the wrong days. The example below hides Mondays and Tuesdays instead of weekends as described in the [documentation](https://plotly.com/python/time-series/#hiding-weekends-and-holidays).

[code]

![image](https://user-images.githubusercontent.com/20990315/107054828-e3583780-67d0-11eb-87b4-3c274522da0d.png)

**Observed behavior:**
The 8th

[2021-02-05 16:20] nicolaskruchten commented on #5473
I believe that in 2020, Feb 8th and 9th were in fact Saturday and Sunday. In 2021 it would be 6th and 7th :)

[2021-02-05 16:33] Djeramon commented on #5473
Withdrawn! Thanks for answering stupid questions as well! :-)

[2021-02-05 16:33] #5473 closed

[2021-02-05 18:27] brian428 commented on #3735
@etpinard I know this is an older ticket but it's still a limitation for us. In our case, we have traces with multiple symbols. Right now, the legend symbol is always whatever symbol is used for the first point, which is quite confusing to our users. It would be great to have the option to specify the legend marker as you outlined in your initial comment. Any chance this will get implemented in th

[2021-02-05 18:42] brian428 commented on #3735
Honestly even an option to just always use a standard circle would work for us, if exposing all the other style options would be significant work. Maybe just an `itemsymbol: "constant"` option to go along with the `itemsizing` option?

[2021-02-05 19:20] wbrgss opened #5474 "'heatmapgl' with xaxis: { scaleanchor: 'y' } regression in 1.58.0"
[Codepen here](https://codepen.io/wbrgss/pen/bGBEmxJ) (graph renders, but console error present in browser Dev Tools [not CodePen console])

With `v1.58.0` and above, the `heatmapgl` trace in combination with `layout.xaxis.scaleanchor = 'y'` will result in the following console error:

[code]

It looks like the height `h` is not defined in the [`yRatio` calculation here](https://github.com/plotly/

[2021-02-06 12:17] ttrinidad commented on #5350
There is a timer there that tries to debounce it, here: https://github.com/plotly/plotly.js/blob/master/src/components/legend/draw.js#L371

 It seems the default should be 300ms (https://github.com/plotly/plotly.js/blob/master/src/plot_api/plot_config.js#L171), but you can try changing it through `config.doubleClickDelay`

[2021-02-07 15:45] ramgo97 commented on #2769
I managed to work around this issue using the following steps, not sure this is the most efficient solution but It seems to be working for me for now:

I initially set the visibility of the graph (using dcc.Graph here) to be hidden and I also have a callback that changes the display of the div, which is wrapped around the dcc.Graph from none to block. This callback also updates the data in the gra

[2021-02-08 02:31] MediumBrownToast commented on #5472
Thank you very much for the prompt and positive responses! (and apologies if this is a bad use of comment)

[2021-02-08 06:41] SetarehSalehee commented on #5090
We have a similar issue as well, we used Angular-Plotly to draw a Gantt diagram which includes a lot of shapes being drawn on the plot. After adding for example 100 tasks the plot becomes unusable. We cannot drag the plot up and down or back and forward. I tried everything I found on the performance improvement. It is better but not enough.

[2021-02-08 14:40] cpbotha opened #5477 "plotly_click handler return value is ignored, no way to cancel event processing from custom handler"
I'm currently using a `plotly_click` custom handler (via react-plotly onClick prop) on a treemap, where I would like to cancel the default zoom-in / zoom-out behaviour if the user is pressing control.

For `plotly_legendclick` for example, the convention is to return `false` from the custom handler, which will stop default event processing. See https://community.plotly.com/t/disable-legend-click-f

[2021-02-08 15:32] Luke3924 opened #5479 "Plotly and Websockets"
Hello,

I have run into an issue trying to use Plotly (Javascript) with websockets to try and get live data visualization. I'm not sure if its a bug or implementation so I made a post in the Ploty community a week ago and got zero replies. So, since it could be a bug I figured I should report it on here. The issue I am running into is that when I put a Plotly function into the sub function which r

[2021-02-08 19:08] #4849 closed

[2021-02-08 20:03] #5474 closed

[2021-02-08 23:00] TonyBonen opened #5480 "Posting scatter points over grouped bars"
I want to have a plot with scatter points overtop of bars. The problem is that the locations (on the x axis in my case) of the bars cannot be passed to the scatter points - they always sit directly above the x-axis values rather than being spread out across the bars within a grouped category.

Its the same issue as being asked here: https://stackoverflow.com/questions/54591377/overlay-a-grouped-ba

[2021-02-08 23:33] justin-sleep opened #5481 "Individual negative values discarded in pie chart"
It looks like negative values are dropped when constructing pie charts, probably to prevent negative sums ([example](https://codepen.io/justin-sleep/pen/dyOXJmx?editors=1010)). I think [this](https://github.com/plotly/plotly.js/blob/dc3c342f346bd6effad210414f377345fe3e2d47/src/traces/pie/calc.js#L42) is the line responsible for this behavior, and that it could be fixed by checking for negative val

[2021-02-09 03:16] alexcjohnson commented on #5480
Duplicate of #4913 - I'll copy your comment over there because of the nice example & picture.

[2021-02-09 03:16] #5480 closed

[2021-02-09 03:18] alexcjohnson commented on #4913
From @TonyBonen asking for this feature in #5480:

---

I want to have a plot with scatter points overtop of bars. The problem is that the locations (on the x axis in my case) of the bars cannot be passed to the scatter points - they always sit directly above the x-axis values rather than being spread out across the bars within a grouped category.

Its the same issue as being asked here: https://s

[2021-02-09 03:22] alexcjohnson commented on #5481
Good call @justin-sleep - the negative exclusion predates automatic aggregation, and was never updated to be done after the sums are complete.

[2021-02-09 10:53] lalitcse commented on #254
@arikfr have you found any solution??

[2021-02-09 10:53] lalitcse commented on #254
<img width="624" alt="Screenshot (909)" src="https://user-images.githubusercontent.com/36290540/107353553-2e38be80-6af3-11eb-8ed9-0d3754abaf57.png">

[2021-02-09 10:55] lalitcse commented on #254
I am also having the same issue @etpinard

[2021-02-09 14:32] nicolaskruchten commented on #4913
As a workaround for now, one can use a carefully-configured `box` trace with an invisible box and visible points, as demonstrated in this CodePen: https://codepen.io/nicolaskruchten/pen/LYbZovb

Here is the annotated Python code for generating this figure, which should be reasonably easy to translate to R:

[code]

[2021-02-09 15:46] nicolaskruchten opened #5484 "A new "npm run" target for building custom bundles"
I'd like a straightforward set of instructions that a user can use to:

1. Create `my-custom-bundle.js` based on something like `lib/index-basic.js`
2. Run `npm run build-custom-bundle my-custom-bundle.js` and it would produce `my-custom-bundle.min.js` or whatever

This is needed so as to be able to provide clear instructions to Dash developers that want to make their own bundles :)

[2021-02-09 16:48] jackparmer commented on #5279
Instead of reinventing the wheel, putting all funding for this towards our new collaboration with Kitware and Dash VTK: github.com/plotly/dash-vtk

[2021-02-09 16:48] #5279 closed

[2021-02-09 17:50] antoinerg commented on #5374
Ok, so I'll try to come up with a patch to fix the issue in MathJax 2.7.x!

[2021-02-10 02:56] ordiology commented on #2924
Sorry for the late reply @nicolaskruchten, but I can provide a little info about the limitations we found with `heatmap`. For a json dataset file size of 12M with data dimensions 627x6455 (over 4M z values) we found `heatmap` didn't cope well -- it took a fair while to load and didn't update when panning and zooming efficiently (it was quite painful). This was running on both Mac and Windows OS in

[2021-02-10 17:44] nicolaskruchten commented on #5484
The custom-bundle build instructions should be documented in https://github.com/plotly/plotly.js/blob/master/BUILDING.md, as this is what I'm linking to from dash-docs for "custom-built bundle".

[2021-02-10 18:36] NathanPB opened #5488 "show the value when the spike and the dataset line crosses in the X axis"
Sorry, couldn't describe it better in the title, if someone could suggest an edit I'd appreciate.

My point is, when you have multiple datasets and you hover a line, a popup appears in the Y axis of every other line when it crosses the spike line. I'd like to use a feature where it can be shown the popups with the value of both X and Y axis. I'm attaching an image to help to explain my problem:

!

[2021-02-11 06:06] kasajian opened #5490 "Using plotly.graph_objects, is there way to trim or wrap the label text inside of each box when the box is too small?"
I'm trying to figure out the best way to track this issue:
https://stackoverflow.com/questions/65942714/using-plotly-graph-objects-is-there-way-to-trim-or-wrap-the-label-text-inside-o

Will it be tracked on stackoverflow if there will be work done in the library?

Should I update this issue with the same details as in the stackoverflow item?  I didn't want to do that if this issue was toing to get

[2021-02-11 07:37] CPrescher commented on #2924
I have to state that I have given up to even use heatmapgl for interaction of large image data typically acquired at large scientific instruments, since this is still too slow. My goal was to have as fast interaction possibility as for example with pyqtgraph in desktop software. We do need not just panning and zooming of the image, but also fast change of colorscale (e.g. actually replotting). Aft

[2021-02-11 17:48] tcummin2 opened #5493 "Trace text can disappear when gaps are present"
This is a bit of an odd case. Here's a working example: https://codepen.io/tcummin2/pen/yLVadzB

1. Open the codepen
2. Pan on the plot at least once
3. One of the texts will disappear
4. Pan again
5. The other text will disappear but the first one will reappear
6. The texts will neither appear nor disappear from then onward.

[2021-02-12 14:35] wamoha opened #5495 "Plot component shows fallback component on every render"
Thanks for your interest in plotly.js!

**Environment -**
react-plotly: 2.5.0
plotly: 1.51.3
react: 16.12.0
react-dom: 16.12.0

**Sample code**

`
const LazyPlot = React.lazy(() => {
  return Promise.all([import("react-plotly.js"), new Promise(resolve => setTimeout(resolve, 5000))]).then(([m]) => ({
    default: m.default
  }));
});

export const BaseChart = <RowType extends {}>(props: IBaseChartP

[2021-02-12 15:32] luggie commented on #3063
Any new thoughts on :
`
'layout': {'modebar': {
                    'position': 'center'
                    }
`

[2021-02-12 15:49] archmoj opened #5496 "pseudo-html tags are not supported in scattergl text"
[demo](https://codepen.io/MojtabaSamimi/pen/VwmPZdY?editors=0010)

[2021-02-12 15:53] archmoj opened #5497 "plotGlPixelRatio has no effect on scattergl"
[demo](https://codepen.io/MojtabaSamimi/pen/rNWjBoo)

[2021-02-12 16:39] jonmmease commented on #5497
Looking at https://www.khronos.org/webgl/wiki/HandlingHighDPI, I wonder if we need to use a larger canvas size here:

https://github.com/plotly/plotly.js/blob/7347bedc7f90b1fee91f45cb41fd9bde246033db/src/plot_api/plot_api.js#L225-L227

This doesn't work on its own, but something like:

[code]

In this case, I think we would *not* want to use a constant marker size (https://github.com/plotly/plotly

[2021-02-12 16:58] jonmmease commented on #5497
Looks like this is what scatter3d is doing:

https://github.com/gl-vis/gl-plot3d/blob/0ae1280e1d366fcf96419b6acd85c194ee1f43a6/scene.js#L253-L266

[code]

[2021-02-12 17:19] archmoj commented on #5497
In that case perhaps we also need to patch `reg-line2d` and some other modules to take into account pixelRatio.